<!-- Footer Start -->
<footer class="iq-footer iq-border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6  iq-rmb-50">
                <div class="logo">
                    <a href="index.html">
                        {{#compare logoName '!==' ''}}
                        <img class="img-fluid" width="100" src="{{path}}assets/images/{{logoName}}" alt="#">
                        {{else}}
                        <img class="img-fluid" width="100" src="{{path}}assets/images/logo.png" alt="img">
                        {{/compare}}
                    </a>
                    <div class="iq-font-black mt-2">It is a long established fact that a reader will be distracted by
                        the readable content.</div>
                    <div class="iq-copyright mt-5">
                        Copyright @ 2018 <a href="javascript:void(0)">{{ appName }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-4 mt-lg-0 mt-md-0">
                <h5 class="mb-4">Menu</h5>
                <ul class="menu">
                    <li><a href="javascript:void(0)">About Us</a></li>
                    <li><a href="javascript:void(0)">Theme</a></li>
                    <li><a href="javascript:void(0)">Features</a></li>
                    <li><a href="javascript:void(0)">Pricing</a></li>
                    <li><a href="javascript:void(0)">Blog</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-lg-0 mt-4">
                <h5 class="mb-4">About Us</h5>
                <ul class="menu">
                    <li><a href="javascript:void(0)">About {{ appName }}</a></li>
                    <li><a href="javascript:void(0)">Roadmap</a></li>
                    <li><a href="javascript:void(0)">How it Work</a></li>
                    <li><a href="javascript:void(0)">Team</a></li>
                    <li><a href="javascript:void(0)">News</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 mt-lg-0 mt-4">
                <h5 class="mb-4">Quick Links</h5>
                <ul class="menu">
                    <li><a href="javascript:void(0)">About Us</a></li>
                    <li><a href="javascript:void(0)">Theme</a></li>
                    <li><a href="javascript:void(0)">Features</a></li>
                    <li><a href="javascript:void(0)">Pricing</a></li>
                    <li><a href="javascript:void(0)">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
<!-- === back-to-top === -->
<div id="back-to-top">
    <a class="top" id="top" href="#top"> <ion-icon name="chevron-up-outline"></ion-icon> </a>
</div>