<!-- Footer Start -->
<footer class="iq-footer footer-shap footer-one iq-over-dark-90 position-relative">
    <div class="container">
        <div class="footer-top">
            <div class="row align-items-center prox-subscribe">
                <div class="col-lg-5   col-sm-12 title-fancy mb-5 mb-lg-0 wow fadeInUp" data-wow-delay=".3s">
                    <h4 class="footer-title">Ready to get started?</h4>
                    <p class="mb-0">It is a long established fact that a page when looking at its layout.</p>
                </div>
                <div class="col-lg-7 col-sm-12 text-center wow fadeInUp" data-wow-delay=".3s">
                    <input type="Email" class="form-control" id="inputEmail" placeholder="Your Email">
                    <a class="landing-button sign-up-btn btn-purple" href="">Sign up</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="logo">
                    <a href="#">
                        {{#compare logoName '!==' ''}}
                        <img class="img-fluid mb-3" width="100" src="{{path}}assets/images/{{logoName}}" alt="#">
                        {{else}}
                        <img class="img-fluid mb-3" width="100" src="{{path}}assets/images/logo-white.png" alt="img">
                        {{/compare}}
                    </a>
                    <div class="iq-font-black mt-2 text-white">It is a long established fact that a reader will be
                        distracted by the readable content.</div>
                    <div class="iq-copyright mt-5 text-white">
                        Copyright @ 2018 <a href="#" class="text-white">{{ appName }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 mt-4 mt-lg-0 mt-md-0 wow fadeInUp" data-wow-delay=".3s">
                <h5 class="mb-4 text-white">Menu</h5>
                <ul class="menu">
                    <li><a class="text-white" href="javascript:void(0)">About Us</a></li>
                    <li><a class="text-white" href="javascript:void(0)">Theme</a></li>
                    <li><a class="text-white" href="javascript:void(0)">Features</a></li>
                    <li><a class="text-white" href="javascript:void(0)">Pricing</a></li>
                    <li><a class="text-white" href="javascript:void(0)">Blog</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 mt-lg-0 mt-4 wow fadeInUp" data-wow-delay=".3s">
                <h5 class="mb-4 text-white">About Us</h5>
                <ul class="menu">
                    <li><a class="text-white" href="javascript:void(0)">About {{ appName }}</a></li>
                    <li><a class="text-white" href="javascript:void(0)">Roadmap</a></li>
                    <li><a class="text-white" href="javascript:void(0)">How it Work</a></li>
                    <li><a class="text-white" href="javascript:void(0)">Team</a></li>
                    <li><a class="text-white" href="javascript:void(0)">News</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-lg-0 mt-4 testimonail-widget-menu ">
                <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true"
                    data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1"
                    data-items-mobile-sm="1" data-margin="30">
                    <div class="item">
                        <div class="testimonial-info wow fadeInUp" data-wow-delay=".3s">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium incididunt ut
                                labore et dolore Sed omnis iste ut perspiciatis.</p>
                            <div class="post-img">
                                <img src="{{path}}assets/images/landing-page/landing-1/215.jpeg" class="img-fluid"
                                    alt="img">
                                <div class="testimonial-name">
                                    <h5>Walhan Bobe</h5>
                                    <span class="sub-title">
                                        CEO {{ appName }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-info wow fadeInUp" data-wow-delay=".3s">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium incididunt ut
                                labore et dolore Sed omnis iste ut perspiciatis.</p>
                            <div class="post-img">
                                <img src="{{path}}assets/images/landing-page/landing-1/216.jpeg" class="img-fluid"
                                    alt="img">
                                <div class="testimonial-name">
                                    <h5>Walhan Bobe</h5>
                                    <span class="sub-title">
                                        CEO {{ appName }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-info wow fadeInUp" data-wow-delay=".3s">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium incididunt ut
                                labore et dolore Sed omnis iste ut perspiciatis.</p>
                            <div class="post-img">
                                <img src="{{path}}assets/images/landing-page/landing-1/217.jpeg" class="img-fluid"
                                    alt="img">
                                <div class="testimonial-name">
                                    <h5>Walhan Bobe</h5>
                                    <span class="sub-title">
                                        CEO {{ appName }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- === back-to-top === -->
<div id="back-to-top">
    <a class="top" id="top" href="#top"> 
    <ion-icon name="chevron-up-outline"></ion-icon>
    </a>
</div>