{{#extend 'layouts/frontend/landing-3' title="Frontend - Page 1" active="frontend-page-1" bodyClass="" path="../" }}

{{#content "slider"}}
    <!-- Banner -->
    <section class="position-relative iq-rpt-0 overflow-hidden overview-block-pt banner">
        <div class="container ">
            <div class="row">
                <div class="col-lg-6 align-self-center  wow fadeInUp" data-wow-delay=".5s">
                    <h1 class="text-white mb-3">Best Ever Saas Landing Template</h1>
                    <p class="mb-5">There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form, by injected humour, or randomised words
                        which don't look even slightly believable.</p>
                    <a class="landing-button btn-primary" href="#">Read More</a>
                </div>
                <div class="col-lg-6"></div>
            </div>
            <div class="right-image wow fadeInUp" data-wow-delay=".3s">
                <img src="{{path}}assets/images/landing-page/landing-3/01.png" class="img-fluid" alt="images">
            </div>
        </div>
    </section>
    <!-- Banner End -->
{{/content}}

{{#content "content"}}
    <!-- Main Content -->
    <div class="main-content">
        <!--How It Work -->
        <section class="iq-how-work pt-0" id="how-it-works">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h6 class="title text-white">How Its Work</h6>
                            <h2 class="text-white">How Does {{ appName }} Work</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="iq-work wow fadeInUp" data-wow-delay=".3s">
                            <div class="work-content">
                                <div class="iq-work-id  text-center">01</div>
                                <div class="iq-work-detail text-center ">
                                    <i class="fas fa-laptop-code mb-3"></i>
                                    <h4>Easy Install</h4>
                                    <p class="mt-3 mb-0">It is a long established fact that a reader will be distracted by
                                        the readable
                                        content of a page.</p>
                                </div>
                                <a class="readmore" href="#"><ion-icon name="arrow-forward"></ion-icon></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="iq-work wow fadeInUp" data-wow-delay=".5s">
                            <div class="work-content">
                                <div class="iq-work-id  text-center">02</div>
                                <div class="iq-work-detail text-center ">
                                    <i class="fas fa-file-invoice mb-3"></i>
                                    <h4>Create an Account</h4>
                                    <p class="mt-3 mb-0">It is a long established fact that a reader will be distracted by
                                        the readable
                                        content of a page.</p>
                                </div>
                                <a class="readmore" href="#"><ion-icon name="arrow-forward"></ion-icon></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="iq-work wow fadeInUp" data-wow-delay=".5s">
                            <div class="work-content">
                                <div class="iq-work-id  text-center">03</div>
                                <div class="iq-work-detail text-center ">
                                    <i class="fas fa-cloud-upload-alt mb-3"></i>
                                    <h4>Upload Your Data</h4>
                                    <p class="mt-3 mb-0">It is a long established fact that a reader will be distracted by
                                        the readable
                                        content of a page.</p>
                                </div>
                                <a class="readmore" href="#"><ion-icon name="arrow-forward"></ion-icon></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- How It Work End -->
        <!-- About Us -->
        <section class="iq-about-us position-relative iq-rpt-0" id="about-us">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-6 align-self-center  wow fadeInUp" data-wow-delay=".5s">
                        <h6 class="title text-white mb-0">About Us</h6>
                        <h2 class="text-white mb-3">About {{ appName }}</h2>
                        <p class="mb-5">There are many variations of passages of Lorem Ipsum available, but the majority
                            have suffered alteration in some form, by injected humour, or randomised words
                            which don't look even slightly believable.</p>
                        <div class="row mb-5">
                            <div class="col-lg-4 col-md-4 col-sm-4  iq-rmb-50 ">
                                <div class="iq-counter brd text-left ">
                                    <div class="right">
                                        <h2 class="counter"><span class="timer text-white  " data-to="1520"
                                                data-speed="5000">1520</span><sup class=" d-inline-block">+</sup></h2>
                                        <div class="iq-lead">App Downloads</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4  iq-rmb-50">
                                <div class="iq-counter brd text-left ">
                                    <div class="right">
                                        <h2 class="counter"><span class="timer text-white" data-to="500"
                                                data-speed="5000">500</span> <sup class=" d-inline-block">+</sup></h2>
                                        <div class="iq-lead">Happy Clients</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4  ">
                                <div class="iq-counter brd text-left ">
                                    <div class="right">
                                        <h2 class="counter"><span class="timer text-white" data-to="110"
                                                data-speed="5000">110</span><sup class=" d-inline-block">+</sup></h2>
                                        <div class="iq-lead">Active Accounts</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="landing-button btn-primary" href="#">Read More</a>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
                <div class="right-image wow fadeInUp" data-wow-delay=".3s">
                    <img src="{{path}}assets/images/landing-page/landing-3/01.png" class="img-fluid" alt="images">
                </div>
            </div>
        </section>
        <!-- About Us End -->
        <!-- About  Feature -->
        <section class="iq-about-us position-relative iq-rpt-0">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6 align-self-center  wow fadeInUp" data-wow-delay=".5s">
                        <h6 class="title text-white mb-0">About Us</h6>
                        <h2 class="text-white mb-3">Software Features?</h2>
                        <p class="mb-5">There are many variations of passages of Lorem Ipsum available, but the majority
                            have suffered alteration in some form, by injected humour, or randomised words
                            which don't look even slightly believable.</p>
                        <div class="row ">
                            <div class="col-lg-6 col-md-6">
                                <div class="features">
                                    <div class="feature-icon "><i class="las la-chart-area"></i></div>
                                    <div class="feature-info">
                                        <h5 class="text-white">Saas Analysis</h5>
                                        <p>Capitalize.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="features">
                                    <div class="feature-icon "><i class="las la-hourglass-start"></i></div>
                                    <div class="feature-info">
                                        <h5 class="text-white">Time Tracker</h5>
                                        <p>Hanging identify.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="features">
                                    <div class="feature-icon "><i class="las la-chart-bar"></i></div>
                                    <div class="feature-info">
                                        <h5 class="text-white">Report Store</h5>
                                        <p>Specimen </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="features">
                                    <div class="feature-icon "><i class="las la-user-lock"></i></div>
                                    <div class="feature-info">
                                        <h5 class="text-white">Data Secure</h5>
                                        <p>Printer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-image wow fadeInUp" data-wow-delay=".5s">
                    <img src="{{path}}assets/images/landing-page/landing-3/02.png" class="img-fluid" alt="images">
                </div>
            </div>
        </section>
        <!-- About Us End -->
        <!-- Why choose us -->
        <section class="iq-about-us position-relative iq-rpt-0">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-6 align-self-center wow fadeInUp" data-wow-delay=".5s">
                        <h6 class="title text-white mb-0">About Us</h6>
                        <h2 class="text-white mb-3">Why Choose Us?</h2>
                        <p class="mb-5">There are many variations of passages of Lorem Ipsum available, but the majority
                            have suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable.There are many variations of passages of Lorem Ipsum available, but the
                            majority have suffered alteration in some form, by injected humour, or </p>
                        <a class="landing-button btn-primary" href="#">Read More</a>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
                <div class="right-image wow fadeInUp" data-wow-delay=".5s">
                    <img src="{{path}}assets/images/landing-page/landing-3/03.png" class="img-fluid" alt="images">
                </div>
            </div>
        </section>
        <!-- Why choose Us End -->
        <!-- Feature -->
        <section class="iq-features iq-rpt-0" id="feature">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h6 class="title text-white">Features</h6>
                            <h2 class="text-white">Great Feature</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="iq-services text-center wow fadeInUp" data-wow-delay=".5s">
                            <div class="iq-icon mb-4"><img src="{{path}}assets/images/landing-page/landing-3/04.png"
                                    class="img-fluid" alt="images">
                            </div>
                            <h5 class="mb-3">Calculate Your Work</h5>
                            <p class="mb-0">It is a long established fact that a reader will be distracted by the readable
                                content. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="iq-services text-center wow fadeInUp" data-wow-delay=".5s">
                            <div class="iq-icon mb-4"><img src="{{path}}assets/images/landing-page/landing-3/05.png"
                                    class="img-fluid" alt="images">
                            </div>
                            <h5 class="mb-3">Expenses & Reporting</h5>
                            <p class="mb-0">It is a long established fact that a reader will be distracted by the readable
                                content. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="iq-services text-center wow fadeInUp" data-wow-delay=".5s">
                            <div class="iq-icon mb-4"><img src="{{path}}assets/images/landing-page/landing-3/04.png"
                                    class="img-fluid" alt="images">
                            </div>
                            <h5 class="mb-3">Mail Management</h5>
                            <p class="mb-0">It is a long established fact that a reader will be distracted by the readable
                                content. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="iq-services text-center wow fadeInUp" data-wow-delay=".5s">
                            <div class="iq-icon mb-4"><img src="{{path}}assets/images/landing-page/landing-3/05.png"
                                    class="img-fluid" alt="images">
                            </div>
                            <h5 class="mb-3">Fast Performance</h5>
                            <p class="mb-0">It is a long established fact that a reader will be distracted by the readable
                                content. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="iq-services text-center wow fadeInUp" data-wow-delay=".5s">
                            <div class="iq-icon mb-4"><img src="{{path}}assets/images/landing-page/landing-3/04.png"
                                    class="img-fluid" alt="images">
                            </div>
                            <h5 class="mb-3">Fully Responsive</h5>
                            <p class="mb-0">It is a long established fact that a reader will be distracted by the readable
                                content. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="iq-services text-center wow fadeInUp" data-wow-delay=".5s">
                            <div class="iq-icon mb-4"><img src="{{path}}assets/images/landing-page/landing-3/05.png"
                                    class="img-fluid" alt="images">
                            </div>
                            <h5 class="mb-3">Awesome Design</h5>
                            <p class="mb-0">It is a long established fact that a reader will be distracted by the readable
                                content. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Feature End -->
        <!-- Showcase -->
        <section class="iq-showcase pt-0">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h6 class="title text-white">Showcase</h6>
                            <h2 class="text-white">Our Showcase</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center no-gutters">
                    <div class="col-sm-12">
                        <div class="screenshots-slider popup-gallery">
                            <div class="slider-container">
                                <div class="slider-content">
                                    <div class="slider-single">
                                        <a href="{{path}}assets/images/landing-page/landing-3/06.png"
                                            class="popup-img"><img class="slider-single-image"
                                                src="{{path}}assets/images/landing-page/landing-3/06.png" alt="1" /></a>
                                    </div>
                                    <div class="slider-single">
                                        <a href="{{path}}assets/images/landing-page/landing-3/07.png"
                                            class="popup-img"><img class="slider-single-image"
                                                src="{{path}}assets/images/landing-page/landing-3/07.png" alt="2" /></a>
                                    </div>
                                    <div class="slider-single">
                                        <a href="{{path}}assets/images/landing-page/landing-3/08.png"
                                            class="popup-img"><img class="slider-single-image"
                                                src="{{path}}assets/images/landing-page/landing-3/08.png" alt="3" /></a>
                                    </div>
                                    <div class="slider-single">
                                        <a href="{{path}}assets/images/landing-page/landing-3/09.png"
                                            class="popup-img"><img class="slider-single-image"
                                                src="{{path}}assets/images/landing-page/landing-3/09.png" alt="4" /></a>
                                    </div>
                                    <div class="slider-single">
                                        <a href="{{path}}assets/images/landing-page/landing-3/10.png"
                                            class="popup-img"><img class="slider-single-image"
                                                src="{{path}}assets/images/landing-page/landing-3/10.png" alt="5" /></a>
                                    </div>
                                    <div class="slider-single">
                                        <a href="{{path}}assets/images/landing-page/landing-3/11.png"
                                            class="popup-img"><img class="slider-single-image"
                                                src="{{path}}assets/images/landing-page/landing-3/11.png" alt="6" /></a>
                                    </div>
                                </div>
                                <a class="slider-left" href="javascript:void(0);"><i class="fa fa-angle-left"></i></a>
                                <a class="slider-right" href="javascript:void(0);"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Showcase End-->
        <!-- Team -->
        <section class="iq-team pt-0" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h6 class="title text-white">Team</h6>
                            <h2 class="text-white">Our Team</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="team wow fadeInUp" data-wow-delay=".5s">
                            <div class="left">
                                <div class="team-img"><img src="{{path}}assets/images/landing-page/landing-3/12.jpg"
                                        class="img-fluid" alt="images"> </div>
                            </div>
                            <div class="right">
                                <h5 class="mb-3">Nik Jorden</h5>
                                <p class="mb-3">There are many variations of passages of Lorem Ipsum available, but the </p>
                                <ul class="social-media m-0 p-0">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team mb-0 wow fadeInUp" data-wow-delay=".5s">
                            <div class="left">
                                <div class="team-img"><img src="{{path}}assets/images/landing-page/landing-3/13.jpg"
                                        class="img-fluid" alt="images"> </div>
    
                            </div>
                            <div class="right">
                                <h5 class="mb-3">Nik Jorden</h5>
                                <p class="mb-3">There are many variations of passages of Lorem Ipsum available, but the </p>
                                <ul class="social-media m-0 p-0">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="team team-right wow fadeInUp" data-wow-delay=".5s">
                            <div class="left">
                                <div class="team-img"><img src="{{path}}assets/images/landing-page/landing-3/14.jpg"
                                        class="img-fluid" alt="images"> </div>
                            </div>
                            <div class="right">
                                <h5 class="mb-3">Nik Jorden</h5>
                                <p class="mb-3">There are many variations of passages of Lorem Ipsum available, but the </p>
                                <ul class="social-media m-0 p-0">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team mb-0 wow fadeInUp" data-wow-delay=".5s">
                            <div class="left">
                                <div class="team-img"><img src="{{path}}assets/images/landing-page/landing-3/15.jpg"
                                        class="img-fluid" alt="images"> </div>
                            </div>
                            <div class="right">
                                <h5 class="mb-3">Nik Jorden</h5>
                                <p class="mb-3">There are many variations of passages of Lorem Ipsum available, but the </p>
                                <ul class="social-media m-0 p-0">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team End -->
        <!-- Testimonial -->
        <section class="iq-testimonial pt-0" id="testimonial">
            <div class="container p-0">
                <div class="row no-gutters">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h6 class="title text-white">Testimonial</h6>
                            <h2 class="text-white">What Client Say</h2>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="owl-carousel owl-theme owl-loaded" data-dots="true" data-nav="false" data-items="1"
                        data-xs-items="1" data-sm-items="1" data-md-items="1" data-lg-items="1" data-autoplay="true">
                        <div class="testimonial-box">
                            <p class="description">
                                "Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi
                                elit consequat.Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum
                                auctor, nisi elit consequat."
                            </p>
                            <div class="author">
                                <div class="left">
                                    <img src="{{path}}assets/images/landing-page/landing-3/16.jpg"
                                        class="img-fluid mb-5 img-shap " alt="">
                                </div>
                                <div class="right">
                                    <h4>Kips Leo</h4>
                                    <p>CEO - {{ appName }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-box">
                            <p class="description">
                                "Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi
                                elit consequat.Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum
                                auctor, nisi elit consequat."
                            </p>
                            <div class="author">
                                <div class="left">
                                    <img src="{{path}}assets/images/landing-page/landing-3/17.jpg"
                                        class="img-fluid mb-5 img-shap " alt="">
                                </div>
                                <div class="right">
                                    <h4>Kips Leo</h4>
                                    <p>CEO - {{ appName }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-box">
                            <p class="description">
                                "Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi
                                elit consequat.Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum
                                auctor, nisi elit consequat."
                            </p>
                            <div class="author">
                                <div class="left">
                                    <img src="{{path}}assets/images/landing-page/landing-3/18.jpg"
                                        class="img-fluid mb-5 img-shap " alt="">
                                </div>
                                <div class="right">
                                    <h4>Kips Leo</h4>
                                    <p>CEO - {{ appName }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-box">
                            <p class="description">
                                "Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi
                                elit consequat.Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum
                                auctor, nisi elit consequat."
                            </p>
                            <div class="author">
                                <div class="left">
                                    <img src="{{path}}assets/images/landing-page/landing-3/19.jpg"
                                        class="img-fluid mb-5 img-shap " alt="">
                                </div>
                                <div class="right">
                                    <h4>Kips Leo</h4>
                                    <p>CEO - {{ appName }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-box">
                            <p class="description">
                                "Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi
                                elit consequat.Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum
                                auctor, nisi elit consequat."
                            </p>
                            <div class="author">
                                <div class="left">
                                    <img src="{{path}}assets/images/landing-page/landing-3/20.jpg"
                                        class="img-fluid mb-5 img-shap " alt="">
                                </div>
                                <div class="right">
                                    <h4>Kips Leo</h4>
                                    <p>CEO - {{ appName }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial End -->
        <!-- Pricing Table -->
        <section class="iq-pricing pt-0" id="pricing">
            <div class="container ">
                <div class="row no-gutters">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h6 class="title text-white">Pricing</h6>
                            <h2 class="text-white">Our Pricing</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="pricing-tab">
                            <span>Monthly</span>
                            <ul class="nav nav-pills iq-mt-40" id="pills-tab" role="tablist">
                                <li class="nav-item">
    
                                    <a class="nav-link active" id="monthly-tab" data-toggle="pill" href="#monthly"
                                        role="tab" aria-controls="monthly" aria-selected="true"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="yearly-tab" data-toggle="pill" href="#yearly" role="tab"
                                        aria-controls="yearly" aria-selected="false"></a>
                                </li>
                            </ul>
                            <span>Yearly</span>
                        </div>
                        <div class="tab-content " id="pills-tabContent">
                            <div class="tab-pane fade show active" id="monthly" role="tabpanel"
                                aria-labelledby="monthly-tab">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                                        <div class="iq-pricing-table ">
                                            <div class="pricing-header">
                                                <h4 class=" mb-5">Personal</h4>
                                                <h2>19$<span>/ Per Month</span></h2>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li class=""><i class="fas fa-check-circle"></i>Ut eu lectus consequat.</li>
                                                <li class=""><i class="fas fa-check-circle"></i>Aenean a neque.</li>
                                                <li class=""><i class="fas fa-times-circle"></i>Aenean lacinia porttitor.
                                                </li>
                                                <li class=""><i class="fas fa-times-circle"></i>Unknown printer took</li>
                                                <li class=""><i class="fas fa-times-circle"></i>Embarrassing hidden</li>
                                            </ul>
                                            <a class="landing-button btn-primary mt-5" href="#">Choose Plan</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                                        <div class="iq-pricing-table ">
                                            <div class="pricing-header">
                                                <h4 class=" mb-5">Business</h4>
                                                <h2>49$<span>/ Per Month</span></h2>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li class=""><i class="fas fa-check-circle"></i>Ut eu lectus consequat.</li>
                                                <li class=""><i class="fas fa-check-circle"></i>Aenean a neque.</li>
                                                <li class=""><i class="fas fa-check-circle"></i>Aenean lacinia porttitor.
                                                </li>
                                                <li class=""><i class="fas fa-times-circle"></i>Unknown printer took</li>
                                                <li class=""><i class="fas fa-times-circle"></i>Embarrassing hidden</li>
                                            </ul>
                                            <a class="landing-button btn-primary mt-5" href="#">Choose Plan</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                                        <div class="iq-pricing-table ">
                                            <div class="pricing-header">
                                                <h4 class=" mb-5">Enterprice</h4>
                                                <h2>99$<span>/ Per Month</span></h2>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li class=""><i class="fas fa-check-circle"></i>Ut eu lectus consequat.</li>
                                                <li class=""><i class="fas fa-check-circle"></i>Aenean a neque.</li>
                                                <li class=""><i class="fas fa-check-circle"></i>Aenean lacinia porttitor.
                                                </li>
                                                <li class=""><i class="fas fa-check-circle"></i>Unknown printer took</li>
                                                <li class=""><i class="fas fa-check-circle"></i>Embarrassing hidden</li>
                                            </ul>
                                            <a class="landing-button btn-primary mt-5" href="#">Choose Plan</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="yearly" role="tabpanel" aria-labelledby="yearly-tab">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                                        <div class="iq-pricing-table ">
                                            <div class="pricing-header">
                                                <h4 class=" mb-5">Personal</h4>
                                                <h2>19$<span>/ Per Month</span></h2>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li class=""><i class="fas fa-check-circle"></i>Ut eu lectus consequat.</li>
                                                <li class=""><i class="fas fa-check-circle"></i>Aenean a neque.</li>
                                                <li class=""><i class="fas fa-times-circle"></i>Aenean lacinia porttitor.
                                                </li>
                                                <li class=""><i class="fas fa-times-circle"></i>Unknown printer took</li>
                                                <li class=""><i class="fas fa-times-circle"></i>Embarrassing hidden</li>
                                            </ul>
                                            <a class="landing-button btn-primary mt-5" href="#">Choose Plan</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                                        <div class="iq-pricing-table ">
                                            <div class="pricing-header">
                                                <h4 class=" mb-5">Business</h4>
                                                <h2>49$<span>/ Per Month</span></h2>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li class=""><i class="fas fa-check-circle"></i>Ut eu lectus consequat.</li>
                                                <li class=""><i class="fas fa-check-circle"></i>Aenean a neque.</li>
                                                <li class=""><i class="fas fa-check-circle"></i>Aenean lacinia porttitor.
                                                </li>
                                                <li class=""><i class="fas fa-times-circle"></i>Unknown printer took</li>
                                                <li class=""><i class="fas fa-times-circle"></i>Embarrassing hidden</li>
                                            </ul>
                                            <a class="landing-button btn-primary mt-5" href="#">Choose Plan</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                                        <div class="iq-pricing-table ">
                                            <div class="pricing-header">
                                                <h4 class=" mb-5">Enterprice</h4>
                                                <h2>99$<span>/ Per Month</span></h2>
                                            </div>
                                            <ul class="list-unstyled">
                                                <li class=""><i class="fas fa-check-circle"></i>Ut eu lectus consequat.</li>
                                                <li class=""><i class="fas fa-check-circle"></i>Aenean a neque.</li>
                                                <li class=""><i class="fas fa-check-circle"></i>Aenean lacinia porttitor.
                                                </li>
                                                <li class=""><i class="fas fa-check-circle"></i>Unknown printer took</li>
                                                <li class=""><i class="fas fa-check-circle"></i>Embarrassing hidden</li>
                                            </ul>
                                            <a class="landing-button btn-primary mt-5" href="#">Choose Plan</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing Table End -->
        <!-- Blog-->
        <section class="iq-blogs pt-0" id="blog">
            <div class="container ">
                <div class="row no-gutters">
                    <div class="col-sm-12">
                        <div class="title-box text-center">
                            <h6 class="title text-white">Blog</h6>
                            <h2 class="text-white">Our Blog</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="owl-carousel owl-theme owl-loaded" data-dots="false" data-nav="false" data-items="2"
                            data-items-laptop="2" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1"
                            data-autoplay="true" data-margin="30">
                            <div class="item">
                                <div class="effect-chico blog wow fadeInUp" data-wow-delay=".5s">
                                    <img src="{{path}}assets/images/landing-page/landing-3/23.jpg" class="img-fluid"
                                        alt="img" />
                                    <div class="blog-info">
                                        <a href="all-blog.html">
                                            <h2 class="font-weight-bold">Fully Dedicated Finding</h2>
                                        </a>
                                        <p>It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout.</p>
                                    </div>
                                    <div class="blog-comment">
                                        <ul class="list-inline m-0 p-0">
                                            <li class="list-inline-item  font-weight-bold"><a href=""
                                                    class="text-white">April 05, 2019</a></li>
                                            <li class="float-right list-inline-item ml-3"><a href=""
                                                    class="text-white font-weight-bold"><span class="icon"><i
                                                            class=" far fa-comment-alt"></i></span> 20 </a></li>
                                            <li class="float-right list-inline-item "><a href=""
                                                    class="text-white font-weight-bold"><span class="icon"><i
                                                            class="far fa-heart"></i></span> 60 </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="effect-chico blog wow fadeInUp" data-wow-delay=".5s">
                                    <img src="{{path}}assets/images/landing-page/landing-3/24.jpg" class="img-fluid"
                                        alt="img" />
                                    <div class="blog-info">
                                        <a href="#">
                                            <h2 class="font-weight-bold">Fully Dedicated Finding</h2>
                                        </a>
                                        <p>It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout.</p>
                                    </div>
                                    <div class="blog-comment">
                                        <ul class="list-inline m-0 p-0">
                                            <li class="list-inline-item  font-weight-bold"><a href=""
                                                    class="text-white">April 05, 2019</a></li>
                                            <li class="float-right list-inline-item ml-3"><a href=""
                                                    class="text-white font-weight-bold"><span class="icon"><i
                                                            class=" far fa-comment-alt"></i></span> 70 </a></li>
                                            <li class="float-right list-inline-item "><a href=""
                                                    class="text-white font-weight-bold"><span class="icon"><i
                                                            class="far fa-heart"></i></span> 80 </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="effect-chico blog wow fadeInUp" data-wow-delay=".5s">
                                    <img src="{{path}}assets/images/landing-page/landing-3/25.jpg" class="img-fluid"
                                        alt="img" />
                                    <div class="blog-info">
                                        <a href="#">
                                            <h2 class="font-weight-bold">Fully Dedicated Finding</h2>
                                        </a>
                                        <p>It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout.</p>
                                    </div>
                                    <div class="blog-comment">
                                        <ul class="list-inline m-0 p-0">
                                            <li class="list-inline-item  font-weight-bold"><a href=""
                                                    class="text-white">April 05, 2019</a></li>
                                            <li class="float-right list-inline-item ml-3"><a href=""
                                                    class="text-white font-weight-bold"><span class="icon"><i
                                                            class=" far fa-comment-alt"></i></span> 50 </a></li>
                                            <li class="float-right list-inline-item "><a href=""
                                                    class="text-white font-weight-bold"><span class="icon"><i
                                                            class="far fa-heart"></i></span> 20 </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="effect-chico blog wow fadeInUp" data-wow-delay=".5s">
                                    <img src="{{path}}assets/images/landing-page/landing-3/26.jpg" class="img-fluid"
                                        alt="img" />
                                    <div class="blog-info ">
                                        <a href="#">
                                            <h2 class="font-weight-bold">Fully Dedicated Finding</h2>
                                        </a>
                                        <p>It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout.</p>
                                    </div>
                                    <div class="blog-comment">
                                        <ul class="list-inline m-0 p-0">
                                            <li class="list-inline-item  font-weight-bold"><a href=""
                                                    class="text-white">April 05, 2019</a></li>
                                            <li class="float-right list-inline-item ml-3"><a href=""
                                                    class="text-white font-weight-bold"><span class="icon"><i
                                                            class=" far fa-comment-alt"></i></span> 40 </a></li>
                                            <li class="float-right list-inline-item "><a href=""
                                                    class="text-white font-weight-bold"><span class="icon"><i
                                                            class="far fa-heart"></i></span> 40 </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="effect-chico blog wow fadeInUp" data-wow-delay=".5s">
                                    <img src="{{path}}assets/images/landing-page/landing-3/27.jpg" class="img-fluid"
                                        alt="img" />
                                    <div class="blog-info">
                                        <a href="#">
                                            <h2 class="font-weight-bold">Fully Dedicated Finding</h2>
                                        </a>
                                        <p>It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout.</p>
                                    </div>
                                    <div class="blog-comment">
                                        <ul class="list-inline m-0 p-0">
                                            <li class="list-inline-item  font-weight-bold"><a href=""
                                                    class="text-white">April 05, 2019</a></li>
                                            <li class="float-right list-inline-item ml-3"><a href=""
                                                    class="text-white font-weight-bold"><span class="icon"><i
                                                            class=" far fa-comment-alt"></i></span> 90 </a></li>
                                            <li class="float-right list-inline-item "><a href=""
                                                    class="text-white font-weight-bold"><span class="icon"><i
                                                            class="far fa-heart"></i></span> 50 </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog End -->
        <!-- Our Client -->
        <section class="iq-clients pt-0">
            <div class="container ">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="owl-carousel owl-theme owl-loaded" data-dots="false" data-nav="false" data-items="5"
                            data-items-laptop="5" data-items-tab="4" data-items-mobile="2" data-items-mobile-sm="1"
                            data-autoplay="true" data-margin="30">
                            <div class="item">
                                <div class="iq-client-info text-center wow fadeInUp" data-wow-delay=".5s">
                                    <div class="img "><img
                                            src="{{path}}assets/images/landing-page/landing-3/hover-28.png"
                                            class="img-fluid mb-4 default-img" alt="images ">
                                        <img src="{{path}}assets/images/landing-page/landing-3/28.png"
                                            class="img-fluid mb-4 hover-img" alt="images">
                                        <h5 class="text-white">Sofboost</h5>
                                    </div>
    
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-client-info text-center wow fadeInUp" data-wow-delay=".5s">
                                    <div class="img "><img
                                            src="{{path}}assets/images/landing-page/landing-3/hover-29.png"
                                            class="img-fluid mb-4 default-img" alt="images ">
                                        <img src="{{path}}assets/images/landing-page/landing-3/29.png"
                                            class="img-fluid mb-4 hover-img" alt="images">
                                        <h5 class="text-white">Sofpress</h5>
                                    </div>
    
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-client-info text-center wow fadeInUp" data-wow-delay=".5s">
                                    <div class="img "><img
                                            src="{{path}}assets/images/landing-page/landing-3/hover-30.png"
                                            class="img-fluid mb-4 default-img" alt="images ">
                                        <img src="{{path}}assets/images/landing-page/landing-3/30.png"
                                            class="img-fluid mb-4 hover-img" alt="images">
                                        <h5 class="text-white">Sof Plus</h5>
                                    </div>
    
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-client-info text-center wow fadeInUp" data-wow-delay=".5s">
                                    <div class="img "><img
                                            src="{{path}}assets/images/landing-page/landing-3/hover-31.png"
                                            class="img-fluid mb-4 default-img" alt="images ">
                                        <img src="{{path}}assets/images/landing-page/landing-3/31.png"
                                            class="img-fluid mb-4 hover-img" alt="images">
                                        <h5 class="text-white">sofchemp</h5>
                                    </div>
    
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-client-info text-center wow fadeInUp" data-wow-delay=".5s">
                                    <div class="img "><img
                                            src="{{path}}assets/images/landing-page/landing-3/hover-32.png"
                                            class="img-fluid mb-4 default-img" alt="images ">
                                        <img src="{{path}}assets/images/landing-page/landing-3/32.png"
                                            class="img-fluid mb-4 hover-img" alt="images">
                                        <h5 class="text-white">Sof Pro</h5>
                                    </div>
    
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-client-info text-center wow fadeInUp" data-wow-delay=".5s">
                                    <div class="img "><img
                                            src="{{path}}assets/images/landing-page/landing-3/hover-28.png"
                                            class="img-fluid mb-4 default-img" alt="images ">
                                        <img src="{{path}}assets/images/landing-page/landing-3/28.png"
                                            class="img-fluid mb-4 hover-img" alt="images">
                                        <h5 class="text-white">Sofpress</h5>
                                    </div>
    
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-client-info text-center wow fadeInUp" data-wow-delay=".5s">
                                    <div class="img "><img
                                            src="{{path}}assets/images/landing-page/landing-3/hover-29.png"
                                            class="img-fluid mb-4 default-img" alt="images ">
                                        <img src="{{path}}assets/images/landing-page/landing-3/29.png"
                                            class="img-fluid mb-4 hover-img" alt="images">
                                        <h5 class="text-white">Sof Plus</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our Client End-->
    </div>
    <!-- Main Content END -->
{{/content}}

{{/extend}}