<div class="header-style-1 iq-top-navbar">
    <div class="container iq-navbar-custom">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar c-navbar navbar-expand-lg navbar-light px-0">
                    <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                        <i class="ri-menu-line wrapper-menu"></i>
                        <a href="index.html" class="header-logo">
                            {{#compare logoName '!==' ''}}
                            <img src="{{path}}assets/images/{{logoName}}" class="img-fluid rounded-normal" alt="logo">
                            {{else}}
                            <img src="{{path}}assets/images/logo-white.png" class="img-fluid rounded-normal" alt="logo">
                            {{/compare}}
                        </a>
                    </div>
                    <div class="d-flex align-items-center ml-auto">
                        <div class="iq-menu-horizontal">
                            <nav class="iq-sidebar-menu">
                                <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
                                    <a href="index.html" class="header-logo">
                                        {{#compare logoName '!==' ''}}
                                        <img src="{{path}}assets/images/{{logoName}}" class="img-fluid rounded-normal" alt="logo">
                                        {{else}}
                                        <img src="{{path}}assets/images/logo.png" class="img-fluid rounded-normal" alt="logo">
                                        {{/compare}}
                                    </a>
                                    <div class="iq-menu-bt-sidebar">
                                        <i class="las la-bars wrapper-menu"></i>
                                    </div>
                                </div>
                                <ul id="iq-sidebar-toggle" class="iq-menu d-flex">
                                    {{#each defaultMenu}}
                                    {{#compare @key '==' 'layout11'}}
                                    {{#each ../sidebarList}}
                                    {{#compare ../../layout '===' 'layouts/backend/default'}}
                                    {{#inArray name ../this}}
                                    <li class="{{#compare ../../active "==" name }}active{{ else }} {{/compare}}">
                                        {{#if children}}
                                        <a href="{{href}}" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                            <i class="{{icon_class}}"></i><span>{{title}}</span>
                                            <i class="ri-arrow-right-s-line iq-arrow-right"></i>
                                        </a>
                                        <ul id="{{name}}" class="iq-submenu sub-scrll collapse" data-parent="#iq-sidebar-toggle">
                                            {{#children}}
                                            <li class="{{#compare ../../../active "==" name }}active{{ else }} {{/compare}}">
                                                {{#if children}}
                                                <a href="{{href}}" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                                    <i class="{{icon_class}}"></i><span>{{title}}</span>
                                                    <i class="ri-arrow-right-s-line iq-arrow-right"></i>
                                                </a>
                                                <ul id="{{name}}" class="iq-submenu iq-submenu-data collapse" data-parent="#{{../name}}">
                                                    {{#children}}
                                                    <li class="{{#compare ../../../../active "==" name }}active{{ else }} {{/compare}}">
                                                        <a href="../{{href}}.html">
                                                            <i class="{{icon_class}}"></i><span>{{title}}</span>
                                                        </a>
                                                    </li>
                                                    {{/children}}
                                                </ul>
                                                {{else}}
                                                <a href="../{{href}}.html">
                                                    <i class="{{icon_class}}"></i><span>{{title}}</span>
                                                </a>
                                                {{/if}}
                                            </li>
                                            {{/children}}
                                        </ul>
                                        {{else}}
                                        <a href="../{{href}}.html" class="">
                                            <i class="{{icon_class}}"></i><span>{{title}}</span>
                                        </a>
                                        {{/if}}
                                    </li>
                                    {{/inArray}}
                                    {{else}}
                                    <li class="{{#compare ../../active "==" name }}active{{ else }} {{/compare}}">
                                        {{#if children}}
                                        <a href="{{href}}" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                            <i class="{{icon_class}}"></i><span>{{title}}</span>
                                            <i class="ri-arrow-right-s-line iq-arrow-right"></i>
                                        </a>
                                        <ul id="{{name}}" class="iq-submenu sub-scrll collapse" data-parent="#iq-sidebar-toggle">
                                            {{#children}}
                                            <li class="{{#compare ../../../active "==" name }}active{{ else }} {{/compare}}">
                                                {{#if children}}
                                                <a href="{{href}}" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                                    <i class="{{icon_class}}"></i><span>{{title}}</span>
                                                    <i class="ri-arrow-right-s-line iq-arrow-right"></i>
                                                </a>
                                                <ul id="{{name}}" class="iq-submenu iq-submenu-data collapse" data-parent="#{{../name}}">
                                                    {{#children}}
                                                    <li class="{{#compare ../../../../active "==" name }}active{{ else }} {{/compare}}">
                                                        <a href="../{{href}}.html">
                                                            <i class="{{icon_class}}"></i><span>{{title}}</span>
                                                        </a>
                                                    </li>
                                                    {{/children}}
                                                </ul>
                                                {{else}}
                                                <a href="../{{href}}.html">
                                                    <i class="{{icon_class}}"></i><span>{{title}}</span>
                                                </a>
                                                {{/if}}
                                            </li>
                                            {{/children}}
                                        </ul>
                                        {{else}}
                                        <a href="../{{href}}.html" class="">
                                            <i class="{{icon_class}}"></i><span>{{title}}</span>
                                        </a>
                                        {{/if}}
                                    </li>
                                    {{/compare}}
                                    {{/each}}
                                    {{/compare}}
                                    {{/each}}
                                </ul>
                            </nav>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="nav-item nav-icon change-mode">
                                <div class="custom-control custom-switch custom-switch-icon custom-control-inline">
                                    <div class="custom-switch-inner">
                                        <p class="mb-0"> </p>
                                        <input type="checkbox" class="custom-control-input" id="dark-mode" data-active="true">
                                        <label class="custom-control-label" for="dark-mode" data-mode="toggle">
                                            <span class="switch-icon-left"><i class="a-left"></i></span>
                                            <span class="switch-icon-right"><i class="a-right"></i></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                                <i class="ri-menu-3-line th-line"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav navbar-list align-items-center">
                            
                                    <li class="nav-item nav-icon search-content">
                                        <a href="#" class="search-toggle text-gray rounded" id="dropdownSearch" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="ri-search-line"></i>
                                        </a>
                                        <div class="iq-search-bar iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownSearch">
                                            <form action="#" class="searchbox p-2">
                                                <div class="form-group mb-0 position-relative">
                                                    <input type="text" class="text search-input font-size-12" placeholder="type here to search...">
                                                    <a href="#" class="search-link"><i class="ri-search-line"></i></a>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                    <li class="nav-item nav-icon dropdown">
                                        <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="ri-notification-line"></i>
                                            <span class="bg-primary"></span>
                                        </a>
                                        <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <div class="card shadow-none m-0">
                                                <div class="card-body p-0 ">
                                                    <div class="cust-title p-3">
                                                        <h5 class="mb-0">All Notifications</h5>
                                                    </div>
                                                    <div class="p-3">
                                                        <a href="#" class="iq-sub-card">
                                                            <div class="media align-items-center">
                                                                <div class="">
                                                                    <img class="avatar-40 rounded-small" src="{{path}}assets/images/user/01.jpg"
                                                                        alt="">
                                                                </div>
                                                                <div class="media-body ml-3">
                                                                    <h6 class="mb-0">Emma Watson Barry <small
                                                                            class="badge badge-success float-right">New</small>
                                                                    </h6>
                                                                    <p class="mb-0">95 MB</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="#" class="iq-sub-card">
                                                            <div class="media align-items-center">
                                                                <div class="">
                                                                    <img class="avatar-40 rounded-small" src="{{path}}assets/images/user/02.jpg"
                                                                        alt="">
                                                                </div>
                                                                <div class="media-body ml-3">
                                                                    <h6 class="mb-0 ">New customer is join</h6>
                                                                    <p class="mb-0">Cyst Barry</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="#" class="iq-sub-card">
                                                            <div class="media align-items-center">
                                                                <div class="">
                                                                    <img class="avatar-40 rounded-small" src="{{path}}assets/images/user/03.jpg"
                                                                        alt="">
                                                                </div>
                                                                <div class="media-body ml-3">
                                                                    <h6 class="mb-0 ">Two customer is left</h6>
                                                                    <p class="mb-0">Cyst Barry</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="#" class="iq-sub-card">
                                                            <div class="media align-items-center">
                                                                <div class="">
                                                                    <img class="avatar-40 rounded-small" src="{{path}}assets/images/user/04.jpg"
                                                                        alt="">
                                                                </div>
                                                                <div class="media-body ml-3">
                                                                    <h6 class="mb-0 ">New Mail from Fenny <small
                                                                            class="badge badge-success float-right">New</small>
                                                                    </h6>
                                                                    <p class="mb-0">Cyst Barry</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <a class="right-ic btn btn-primary btn-block position-relative p-2" href="#" role="button">
                                                        <div class="dd-icon"><i class="las la-arrow-right mr-0"></i></div>
                                                        View All
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                            
                                    <li class="caption-content">
                                        <a href="#" class="iq-user-toggle">
                                            <img src="{{path}}assets/images/user/1.jpg" class="img-fluid rounded" alt="user">
                                        </a>
                                        <div class="iq-user-dropdown">
                                            <div class="card">
                                                <div class="card-header d-flex justify-content-between align-items-center mb-0">
                                                    <div class="header-title">
                                                        <h4 class="card-title mb-0">Profile</h4>
                                                    </div>
                                                    <div class="close-data text-right badge badge-primary cursor-pointer"><i
                                                            class="ri-close-fill"></i></div>
                                                </div>
                                                <div class="data-scrollbar" data-scroll="4">
                                                    <div class="card-body">
                                                        <div class="profile-header">
                                                            <div class="cover-container text-center">
                                                                <img src="{{path}}assets/images/user/1.jpg" alt="profile-bg"
                                                                    class="rounded img-fluid avatar-80">
                                                                <div class="profile-detail mt-3">
                                                                    <h3>Barry Tech</h3>
                                                                    <p class="mb-1">Web designer</p>
                                                                </div>
                                                                <a href="auth-sign-in.html" class="btn btn-primary">Sign Out</a>
                                                            </div>
                                                            <div class="profile-details my-4">
                                                                <a href="{{path}}app/user-profile.html"
                                                                    class="iq-sub-card bg-primary-light rounded-small p-2">
                                                                    <div class="media align-items-center">
                                                                        <div class="rounded iq-card-icon-small">
                                                                            <i class="ri-file-user-line"></i>
                                                                        </div>
                                                                        <div class="media-body ml-3">
                                                                            <h6 class="mb-0 ">My Profile</h6>
                                                                            <p class="mb-0 font-size-12">View personal
                                                                                profile details.</p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a href="{{path}}app/user-profile-edit.html"
                                                                    class="iq-sub-card bg-danger-light rounded-small p-2">
                                                                    <div class="media align-items-center">
                                                                        <div class="rounded iq-card-icon-small">
                                                                            <i class="ri-profile-line"></i>
                                                                        </div>
                                                                        <div class="media-body ml-3">
                                                                            <h6 class="mb-0 ">Edit Profile</h6>
                                                                            <p class="mb-0 font-size-12">Modify your
                                                                                personal details.</p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a href="{{path}}app/user-account-setting.html"
                                                                    class="iq-sub-card bg-success-light rounded-small p-2">
                                                                    <div class="media align-items-center">
                                                                        <div class="rounded iq-card-icon-small">
                                                                            <i class="ri-account-box-line"></i>
                                                                        </div>
                                                                        <div class="media-body ml-3">
                                                                            <h6 class="mb-0 ">Account settings</h6>
                                                                            <p class="mb-0 font-size-12">Manage your account
                                                                                parameters.</p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a href="{{path}}app/user-privacy-setting.html"
                                                                    class="iq-sub-card bg-info-light rounded-small p-2">
                                                                    <div class="media align-items-center">
                                                                        <div class="rounded iq-card-icon-small">
                                                                            <i class="ri-lock-line"></i>
                                                                        </div>
                                                                        <div class="media-body ml-3">
                                                                            <h6 class="mb-0 ">Privacy Settings</h6>
                                                                            <p class="mb-0 font-size-12">Control your
                                                                                privacy parameters.</p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="personal-details">
                                                                <h5 class="card-title mb-3 mt-3">Personal Details</h5>
                                                                <div class="row align-items-center mb-2">
                                                                    <div class="col-sm-6">
                                                                        <h6>Birthday</h6>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p class="mb-0">3rd March</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row align-items-center mb-2">
                                                                    <div class="col-sm-6">
                                                                        <h6>Address</h6>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p class="mb-0">Landon</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row align-items-center mb-2">
                                                                    <div class="col-sm-6">
                                                                        <h6>Phone</h6>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p class="mb-0">(010)987 543 201</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row align-items-center mb-2">
                                                                    <div class="col-sm-6">
                                                                        <h6>Email</h6>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p class="mb-0">Barry@example.com</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row align-items-center mb-2">
                                                                    <div class="col-sm-6">
                                                                        <h6>Twitter</h6>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p class="mb-0">@Barry</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row align-items-center mb-2">
                                                                    <div class="col-sm-6">
                                                                        <h6>Facebook</h6>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <p class="mb-0">@Barry_Tech</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="p-3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>