
{{#extend layout title="gallary-masonry" active="gallery-masonry-desc" bodyClass="color-light" path="../" }}
    {{#content "content"}}
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12">
               <div class="card card-block card-stretch card-height">
                  <div class="card-header d-flex justify-content-between">
                     <div class="iq-header-title">
                        <h4 class="card-title mb-0">Masonry Gallery with Description</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <div id="gallery" class="gallery masonry">
                        <div class="grid-sizer"></div>
                        <div class="item">
                           <a href="{{path}}assets/images/gallery/masonry/01.jpg">
                              <img src="{{path}}assets/images/gallery/masonry/01.jpg" class="b-radius-top" alt="">
                           </a>
                           <div class="g-desc b-radius-bottom p-3">
                              <h4>Portfolio Title</h4>
                              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                 Ipsum has been the
                                 industry's standard
                                 dummy text.
                              </p>
                           </div>
                        </div>
                        <div class="item">
                           <a href="{{path}}assets/images/gallery/masonry/02.jpg">
                              <img src="{{path}}assets/images/gallery/masonry/02.jpg" class="b-radius-top" alt="">
                           </a>
                           <div class="g-desc b-radius-bottom p-3">
                              <h4>Portfolio Title</h4>
                              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                 Ipsum has been the
                                 industry's standard
                                 dummy text.
                              </p>
                           </div>
                        </div>
                        <div class="item">
                           <a href="{{path}}assets/images/gallery/masonry/03.jpg">
                              <img src="{{path}}assets/images/gallery/masonry/03.jpg" class="b-radius-top" alt="">
                           </a>
                           <div class="g-desc b-radius-bottom p-3">
                              <h4>Portfolio Title</h4>
                              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                 Ipsum has been the
                                 industry's standard
                                 dummy text.
                              </p>
                           </div>
                        </div>
                        <div class="item">
                           <a href="{{path}}assets/images/gallery/masonry/04.jpg">
                              <img src="{{path}}assets/images/gallery/masonry/04.jpg" class="b-radius-top" alt="">
                           </a>
                           <div class="g-desc b-radius-bottom p-3">
                              <h4>Portfolio Title</h4>
                              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                 Ipsum has been the
                                 industry's standard
                                 dummy text.
                              </p>
                           </div>
                        </div>
                        <div class="item">
                           <a href="{{path}}assets/images/gallery/masonry/05.jpg">
                              <img src="{{path}}assets/images/gallery/masonry/05.jpg" class="b-radius-top" alt="">
                           </a>
                           <div class="g-desc b-radius-bottom p-3">
                              <h4>Portfolio Title</h4>
                              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                 Ipsum has been the
                                 industry's standard
                                 dummy text.
                              </p>
                           </div>
                        </div>
                        <div class="item">
                           <a href="{{path}}assets/images/gallery/masonry/06.jpg">
                              <img src="{{path}}assets/images/gallery/masonry/06.jpg" class="b-radius-top" alt="">
                           </a>
                           <div class="g-desc b-radius-bottom p-3">
                              <h4>Portfolio Title</h4>
                              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                 Ipsum has been the
                                 industry's standard
                                 dummy text.
                              </p>
                           </div>
                        </div>
                        <div class="item">
                           <a href="{{path}}assets/images/gallery/masonry/07.jpg">
                              <img src="{{path}}assets/images/gallery/masonry/07.jpg" class="b-radius-top" alt="">
                           </a>
                           <div class="g-desc b-radius-bottom p-3">
                              <h4>Portfolio Title</h4>
                              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                 Ipsum has been the
                                 industry's standard
                                 dummy text.
                              </p>
                           </div>
                        </div>
                        <div class="item">
                           <a href="{{path}}assets/images/gallery/masonry/08.jpg">
                              <img src="{{path}}assets/images/gallery/masonry/08.jpg" class="b-radius-top" alt="">
                           </a>
                           <div class="g-desc b-radius-bottom p-3">
                              <h4>Portfolio Title</h4>
                              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                 Ipsum has been the
                                 industry's standard
                                 dummy text.
                              </p>
                           </div>
                        </div>
                        <div class="item">
                           <a href="{{path}}assets/images/gallery/masonry/09.jpg">
                              <img src="{{path}}assets/images/gallery/masonry/09.jpg" class="b-radius-top" alt="">
                           </a>
                           <div class="g-desc b-radius-bottom p-3">
                              <h4>Portfolio Title</h4>
                              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                 Ipsum has been the
                                 industry's standard
                                 dummy text.
                              </p>
                           </div>
                        </div>
                        <div class="item">
                           <a href="{{path}}assets/images/gallery/masonry/10.jpg">
                              <img src="{{path}}assets/images/gallery/masonry/10.jpg" class="b-radius-top" alt="">
                           </a>
                           <div class="g-desc b-radius-bottom p-3">
                              <h4>Portfolio Title</h4>
                              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                 Ipsum has been the
                                 industry's standard
                                 dummy text.
                              </p>
                           </div>
                        </div>
                        <div class="item">
                           <a href="{{path}}assets/images/gallery/masonry/11.jpg">
                              <img src="{{path}}assets/images/gallery/masonry/11.jpg" class="b-radius-top" alt="">
                           </a>
                           <div class="g-desc b-radius-bottom p-3">
                              <h4>Portfolio Title</h4>
                              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                 Ipsum has been
                                 the
                                 industry's standard
                                 dummy text.
                              </p>
                           </div>
                        </div>
                        <div class="item">
                           <a href="{{path}}assets/images/gallery/masonry/12.jpg">
                              <img src="{{path}}assets/images/gallery/masonry/12.jpg" class="b-radius-top" alt="">
                           </a>
                           <div class="g-desc b-radius-bottom p-3">
                              <h4>Portfolio Title</h4>
                              <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                 Ipsum has been
                                 the
                                 industry's standard
                                 dummy text.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   {{/content}}
{{/extend}}