
{{#extend 'layouts/backend/layout-8' title="layout-8" active="layout-8"  path="../" }}
{{#content "content"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card border-none">
                            <div class="card-body p-0 wrapper-map">
                                <div id="mapbox-chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-header d-flex justify-content-between">
                                <div class="header-title">
                                    <h4 class="card-title">Total Properties</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="property-chart-06"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="content-left">
                                        <h5 class="mb-1">Buying</h5>
                                        <p class="mb-0">(150 Sales)</p>
                                    </div>
                                    <h5 class="text-primary">$40,256</h5>
                                </div>
                                <div id="property-chart-07"></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="content-left">
                                        <h5 class="mb-1">Selling</h5>
                                        <p class="mb-0">(150 Sales)</p>
                                    </div>
                                    <h5 class="text-danger">$45,256</h5>
                                </div>
                                <div id="property-chart-08"></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="content-left">
                                        <h5 class="mb-1">Rent</h5>
                                        <p class="mb-0">(150 Sales)</p>
                                    </div>
                                    <h5 class="text-success">$32,256</h5>
                                </div>
                                <div id="property-chart-09"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-header d-flex justify-content-between">
                                <div class="header-title">
                                    <h4 class="card-title">Recent Property</h4>
                                </div>
                                <div class="card-header-toolbar d-flex align-items-center font-size-18">
                                    <span class="mr-2"><a href="#" class="text-body"><i
                                                class="ri-edit-box-line"></i></a></span>
                                    <span><a href="#" class="text-body"><i class="ri-delete-bin-line"></i></a></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table mb-0 data-table table-borderless tbl-property-info text-body">
                                        <thead>
                                            <tr class="text-dark">
                                                <th scope="col">Date</th>
                                                <th scope="col">Order Id</th>
                                                <th scope="col">Customer</th>
                                                <th scope="col">Photo</th>
                                                <th scope="col">Property</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>20/08/2020</td>
                                                <td>#12345</td>
                                                <td>Fleece</td>
                                                <td>
                                                    <div class="avatar-70">
                                                        <a href="JavaScript:Void(0);">
                                                            <img src="{{path}}assets/images/layouts/layout-8/property-image/01.jpg"
                                                                class="img-fluid rounded-small" alt="image">
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>Eaton Street</td>
                                                <td class="text-primary"><b>On Rent</b></td>
                                                <td>
                                                    <div class="badge badge-success">Paid</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>15/08/2020</td>
                                                <td>#56576</td>
                                                <td>Alexender</td>
                                                <td>
                                                    <div class="avatar-70">
                                                        <a href="JavaScript:Void(0);">
                                                            <img src="{{path}}assets/images/layouts/layout-8/property-image/02.jpg"
                                                                class="img-fluid rounded-small" alt="image">
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>Lorem Place</td>
                                                <td class="text-warning"><b>Sold</b></td>
                                                <td>
                                                    <div class="badge badge-success">Paid</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>30/07/2020</td>
                                                <td>#23445</td>
                                                <td>Jhon</td>
                                                <td>
                                                    <div class="avatar-70">
                                                        <a href="JavaScript:Void(0);">
                                                            <img src="{{path}}assets/images/layouts/layout-8/property-image/03.jpg"
                                                                class="img-fluid rounded-small" alt="image">
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>Prince Court</td>
                                                <td class="text-primary"><b>On Rent</b></td>
                                                <td>
                                                    <div class="badge badge-danger">Pending</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>11/06/2020</td>
                                                <td>#89895</td>
                                                <td>Melinda</td>
                                                <td>
                                                    <div class="avatar-70">
                                                        <a href="JavaScript:Void(0);">
                                                            <img src="{{path}}assets/images/layouts/layout-8/property-image/04.jpg"
                                                                class="img-fluid rounded-small" alt="image">
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>Prine Place</td>
                                                <td class="text-primary"><b>On Rent</b></td>
                                                <td>
                                                    <div class="badge badge-success">Paid</div>
                                                </td>
                                            </tr>
                                            <tr class="border-0">
                                                <td>10/07/2020</td>
                                                <td>#45656</td>
                                                <td>Alice</td>
                                                <td>
                                                    <div class="avatar-70">
                                                        <a href="JavaScript:Void(0);">
                                                            <img src="{{path}}assets/images/layouts/layout-8/property-image/05.jpg"
                                                                class="img-fluid rounded-small" alt="image">
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>Abrian Hall</td>
                                                <td class="text-primary"><b>On Rent</b></td>
                                                <td>
                                                    <div class="badge badge-danger">Pending</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-none">
                    <div class="card-body p-0">
                        <ul class="image-slide-1 d-flex align-items-center list-inline m-0 p-0">
                            <li>
                                <a href="#">
                                    <div class="blog-image-blog position-relative overflow-hiddne">
                                        <img src="{{path}}assets/images/layouts/layout-8/slider/b-1.jpg" class="img-fluid w-100 rounded" alt="image">
                                        <span class="badge badge-warning blog-lable text-uppercase">foe rent</span>
                                        <div class="blog-wishlist"><i class="fas fa-heart"></i></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="blog-image-blog position-relative overflow-hiddne">
                                        <img src="{{path}}assets/images/layouts/layout-8/slider/b-2.jpg" class="img-fluid w-100 rounded" alt="image">
                                        <span class="badge badge-warning blog-lable text-uppercase">foe rent</span>
                                        <div class="blog-wishlist"><i class="fas fa-heart"></i></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="blog-image-blog position-relative overflow-hiddne">
                                        <img src="{{path}}assets/images/layouts/layout-8/slider/b-3.jpg" class="img-fluid w-100 rounded" alt="image">
                                        <span class="badge badge-warning blog-lable text-uppercase">foe rent</span>
                                        <div class="blog-wishlist"><i class="fas fa-heart"></i></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="content-left">
                                <h5 class="text-body mb-2">Buyer's</h5>
                                <div class="d-flex align-items-center">
                                    <h3>500</h3>
                                    <div class="pl-3 line-height-3">
                                        <div class="text-primary">Active 100</div>
                                        <div class="text-success">Inactive 400</div>
                                    </div>
                                </div>
                            </div>
                            <div id="property-chart-03"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="content-left">
                                <h5 class="text-body mb-2">Profit</h5>
                                <div class="d-flex align-items-center">
                                    <h3>130 M</h3>
                                </div>
                            </div>
                            <div id="property-chart-04"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="content-left">
                                <h5 class="text-body mb-2">Enquiry</h5>
                                <div class="d-flex align-items-center">
                                    <h3>200</h3>
                                    <div class="pl-3 line-height-3">
                                        <div class="text-primary">Solve 100</div>
                                        <div class="text-success">Pending 100</div>
                                    </div>
                                </div>
                            </div>
                            <div id="property-chart-05"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center position-relative">
                        <div class="header-title">
                            <h4 class="card-title mb-0">Income Analysis</h4>
                        </div>
                        <div class="card-header-toolbar d-flex align-items-center">
                            <div class="dropdown">
                                <span class="dropdown-toggle dropdown-bg bg-primary p-2" id="dropdownMenuButton4" data-toggle="dropdown"
                                    aria-expanded="false" role="button">
                                    Monthly<i class="ri-arrow-down-s-line ml-1 text-white"></i>
                                </span>
                                <div class="dropdown-menu dropdown-menu-right shadow-none" aria-labelledby="dropdownMenuButton4"
                                    style="">
                                    <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                    <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="position: relative;">
                        <div id="property-chart-1"></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center mb-0">
                        <div class="header-title">
                            <h4 class="card-title mb-0">Request Enquiry</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="form-border">
                            <div class="col mb-3 p-0">
                                <input type="text" class="form-control" placeholder="Name *">
                            </div>
                            <div class="col mb-3 p-0">
                                <input type="text" class="form-control" placeholder="Email *">
                            </div>
                            <div class="col mb-3 p-0">
                                <input type="text" class="form-control" placeholder="Phone Number *">
                            </div>
                            <div class="col mb-3 p-0">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"
                                    placeholder="Message *"></textarea>
                            </div>
                            <div class="float-right mt-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between align-items-center mb-0">
                        <div class="header-title">
                            <h4 class="card-title mb-0">Property Overview</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="d-flex align-items-center list-inline mb-3 p-0">
                            <li class="d-flex align-items-center mr-4">
                                <span class="bg-warning p-1 rounded mr-2"></span>
                                <p class="text-warning mb-0">sale</p>
                            </li>
                            <li class="d-flex align-items-center mr-4">
                                <span class="bg-primary p-1 rounded mr-2"></span>
                                <p class="text-primary mb-0">Rent</p>
                            </li>
                        </ul>
                        <ul class="list-inline m-0 p-0">
                            <li class="mb-3">
                                <div class="d-flex align-items-center user-data-block">
                                    <div class="avatar-90">
                                        <a href="JavaScript:Void(0);">
                                            <img src="{{path}}assets/images/layouts/layout-8/overview-image/01.jpg"
                                                class="img-fluid rounded-small" alt="image">
                                        </a>
                                    </div>
                                    <div class="overview-content pl-3">
                                        <h5 class="mb-1">Luxurious Villa sea facing</h5>
                                        <p class="mb-1">22 sep 2020, 12 Days Left</p>
                                        <div class="badge badge-warning">SALE</div>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="d-flex align-items-center user-data-block">
                                    <div class="avatar-90">
                                        <a href="JavaScript:Void(0);">
                                            <img src="{{path}}assets/images/layouts/layout-8/overview-image/02.jpg"
                                                class="img-fluid rounded-small" alt="image">
                                        </a>
                                    </div>
                                    <div class="overview-content pl-3">
                                        <h5 class="mb-1">4BHK apartment top floor</h5>
                                        <p class="mb-1">15 sep 2020, 5 Days Left</p>
                                        <div class="badge badge-primary">RENT</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center user-data-block">
                                    <div class="avatar-90">
                                        <a href="JavaScript:Void(0);">
                                            <img src="{{path}}assets/images/layouts/layout-8/overview-image/03.jpg"
                                                class="img-fluid rounded-small" alt="image">
                                        </a>
                                    </div>
                                    <div class="overview-content pl-3">
                                        <h5 class="mb-1">Beach Cottage</h5>
                                        <p class="mb-1">25 sep 2020, 15 Days Left</p>
                                        <div class="badge badge-warning">SALE</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-block card-stretch card-height bg-primary">
                    <div class="card-body text-center">
                        <h1 class="badge badge-danger text-badge-large">Important</h1>
                        <div class="imp-image-block">
                            <img src="{{path}}assets/images/layouts/layout-8/text-report.png" class="img-fluid mx-auto d-block" alt="image">
                        </div>
                            
                        <h3 class="mt-4 text-white">Tax Report</h3>
                        <p class="mt-3">Prepae Your Yearly Tax <br> Report By Sep 2020</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between align-items-center mb-0">
                        <div class="header-title">
                            <h4 class="card-title mb-0">Agent</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline m-0 p-0">
                            <li class="mb-4">
                                <div class="d-flex align-items-center">
                                    <div class="user-img">
                                        <img src="{{path}}assets/images/user/01.jpg" alt="user-img"
                                            class="rounded img-fluid avatar-60">
                                    </div>
                                    <div class="pl-3">
                                        <div class="d-flex flex-wrap align-items-center">
                                            <h5>Gayri Williams</h5>
                                            <span class="text-body pl-2">( Sales )</span>
                                        </div>
                                        <div><i class="fa fa-star text-warning mr-2"></i>4.2 / 5</div>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-4">
                                <div class="d-flex align-items-center">
                                    <div class="user-img">
                                        <img src="{{path}}assets/images/user/02.jpg" alt="user-img"
                                            class="rounded img-fluid avatar-60">
                                    </div>
                                    <div class="pl-3">
                                        <div class="d-flex flex-wrap align-items-center">
                                            <h5>Alice Mathew</h5>
                                            <span class="text-body pl-2">( Retail )</span>
                                        </div>
                                        <div><i class="fa fa-star text-warning mr-2"></i>4.2 / 5</div>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-4">
                                <div class="d-flex align-items-center">
                                    <div class="user-img">
                                        <img src="{{path}}assets/images/user/03.jpg" alt="user-img"
                                            class="rounded img-fluid avatar-60">
                                    </div>
                                    <div class="pl-3">
                                        <div class="d-flex flex-wrap align-items-center">
                                            <h5>Milie Watson</h5>
                                            <span class="text-body pl-2">( Sales )</span>
                                        </div>
                                        <div><i class="fa fa-star text-warning mr-2"></i>4.2 / 5</div>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-4">
                                <div class="d-flex align-items-center">
                                    <div class="user-img">
                                        <img src="{{path}}assets/images/user/04.jpg" alt="user-img"
                                            class="rounded img-fluid avatar-60">
                                    </div>
                                    <div class="pl-3">
                                        <div class="d-flex flex-wrap align-items-center">
                                            <h5>John Williams</h5>
                                            <span class="text-body pl-2">( Sales )</span>
                                        </div>
                                        <div><i class="fa fa-star text-warning mr-2"></i>4.2 / 5</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div class="user-img">
                                        <img src="{{path}}assets/images/user/05.jpg" alt="user-img"
                                            class="rounded img-fluid avatar-60">
                                    </div>
                                    <div class="pl-3">
                                        <div class="d-flex flex-wrap align-items-center">
                                            <h5>Cliff Hanger</h5>
                                            <span class="text-body pl-2">( Retail )</span>
                                        </div>
                                        <div><i class="fa fa-star text-warning mr-2"></i>4.2 / 5</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/content}}
{{/extend}}