
{{#extend 'layouts/backend/layout-16' title="layout-16" active="layout-16" path="../" }}
{{#content "content"}}
    <div class="container">
        <div class="row">  
            <div class="col-lg-6 col-xl-3">
                <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div id="property3-chart-01"></div>
                        <div class="pl-3">
                            <h2>$4,020</h2>
                            <p>Avg Buyers</p>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="progress progress-round m-0 primary">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value text-primary">46%</div>
                        </div>
                        <div class="pl-3">
                            <h2>$8,548</h2>
                            <p>Avg Selling</p>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div id="property3-chart-02"></div>
                        <div class="pl-3">
                            <h2>$2,586</h2>
                            <p>Avg Per Day</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>                
            <div class="col-lg-6 col-xl-3">
                <div class="card card-block card-stretch card-height">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                        <img src="{{path}}assets/images/user/08.jpg" class="img-fluid avatar-90 rounded" alt="">
                        <div class="d-flex doc-social ml-4">
                            <a href="#"><i class="lab la-facebook-f text-primary"></i></a>
                            <a href="#"><i class="lab la-twitter text-primary"></i></a>
                            <a href="#"><i class="lab la-google-plus text-primary"></i></a>
                        </div>
                    </div>
                    <h3>Angie O. Plasty</h3>
                    <p class="font-size-16">Agent Of Property</p>
                    <div class="d-flex align-items-center pt-4 border-top">
                        <span class="bg-primary-light rounded-small iq-card-icon-small mr-3">
                            <i class="las la-phone-volume"></i>
                        </span>
                        <h5>+91 01234 56789</h5>
                    </div>
                    <div class="d-flex align-items-center pt-4">
                        <span class="bg-primary-light rounded-small iq-card-icon-small mr-3">
                            <i class="las la-envelope"></i>
                        </span>
                        <h5>Angie@property.com</h5>
                    </div>
                    <div class="d-flex align-items-center pt-4">
                        <span class="bg-primary-light rounded-small iq-card-icon-small mr-3">
                            <i class="lab la-twitter"></i>
                        </span>
                        <h5>Social@property.com</h5>
                    </div>
                </div>                       
                </div>
            </div>
            <div class="col-lg-12 col-xl-6">
                <div class="card card-block card-stretch card-height adv-card text-center" style="background: rgba(71,136,255,.1) url({{path}}assets/images/layouts/layout-16/property-bg.png) no-repeat  top center; background-size: contain;">
                    <div class="card-body p-4">
                        <h3 class="text-primary text-uppercase">Find The Best Properties</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card card-block card-stretch card-height bg-primary-light">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="icon iq-icon-box bg-primary rounded">
                            <i class="fas fa-laptop-house"></i>
                        </div>
                        <div class="media-body ml-3">
                            <h3 class="mb-0 text-primary">130</h3>
                            <h5>Property</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-5 position-relative">
                        <div class="iq-progress-bar bg-white mt-2">
                            <span class="bg-primary iq-progress progress-1" data-percent="55">
                            <span class="progress-text-one bg-primary">55%</span>
                            </span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card card-block card-stretch card-height bg-primary-light">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="icon iq-icon-box bg-primary rounded">
                            <i class="fas fa-hand-holding-usd"></i>
                        </div>
                        <div class="media-body ml-3">
                            <h3 class="mb-0 text-primary">130</h3>
                            <h5>Profit</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-5 position-relative">
                        <div class="iq-progress-bar bg-white mt-2">
                            <span class="bg-primary iq-progress progress-1" data-percent="40">
                            <span class="progress-text-one bg-primary">40%</span>
                            </span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card card-block card-stretch card-height bg-primary-light">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="icon iq-icon-box bg-primary rounded">
                            <i class="fas fa-cloud-upload-alt"></i>
                        </div>
                        <div class="media-body ml-3">
                            <h3 class="mb-0 text-primary">150</h3>
                            <h5>Seller</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-5 position-relative">
                        <div class="iq-progress-bar bg-white mt-2">
                            <span class="bg-primary iq-progress progress-1" data-percent="85">
                            <span class="progress-text-one bg-primary">85%</span>
                            </span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card card-block card-stretch card-height bg-primary-light">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="icon iq-icon-box bg-primary rounded">
                            <i class="far fa-credit-card"></i>
                        </div>
                        <div class="media-body ml-3">
                            <h3 class="mb-0 text-primary">600</h3>
                            <h5>Buyer's</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-5 position-relative">
                        <div class="iq-progress-bar bg-white mt-2">
                            <span class="bg-primary iq-progress progress-1" data-percent="65">
                            <span class="progress-text-one bg-primary">65%</span>
                            </span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="card card-block card-stretch card-height">
                <div class="card-header d-flex justify-content-between align-items-center mb-0">
                    <div class="header-title">
                        <h4 class="card-title mb-0">Request Enquiry</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="col mb-4 p-0">
                            <input type="text" class="form-control" placeholder="Name *">
                        </div>
                        <div class="col mb-4 p-0">
                            <input type="text" class="form-control" placeholder="Email *">
                        </div>
                        <div class="col mb-4 p-0">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Message *"></textarea>
                        </div>
                        <div class="float-right">
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="card card-block card-stretch card-height">
                <div class="card-header d-flex justify-content-between align-items-center mb-0">
                    <div class="header-title">
                        <h4 class="card-title mb-0">Agent</h4>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-inline m-0 p-0">
                        <li class="mb-4">
                            <div class="d-flex align-items-center">
                            <div class="user-img">
                                <img src="{{path}}assets/images/layouts/layout-16/user1.png" alt="user-img" class="rounded img-fluid avatar-60">
                            </div>                                   
                            <div class="pl-3">
                                <div class="d-flex align-items-center">
                                    <h5>Gayri Williams</h5>
                                </div>
                                <div><i class="fa fa-star text-warning mr-2"></i>4.2 / 5</div>
                            </div>
                            </div>
                        </li>
                        <li class="mb-4">
                            <div class="d-flex align-items-center">
                            <div class="user-img">
                                <img src="{{path}}assets/images/layouts/layout-16/user2.png" alt="user-img" class="rounded img-fluid avatar-60">
                            </div>                                   
                            <div class="pl-3">
                                <div class="d-flex align-items-center">
                                    <h5>Alice Mathew</h5>
                                </div>
                                <div><i class="fa fa-star text-warning mr-2"></i>4.2 / 5</div>
                            </div>
                            </div>
                        </li>
                        <li class="mb-4">
                            <div class="d-flex align-items-center">
                            <div class="user-img">
                                <img src="{{path}}assets/images/layouts/layout-16/user3.png" alt="user-img" class="rounded img-fluid avatar-60">
                            </div>                                   
                            <div class="pl-3">
                                <div class="d-flex align-items-center">
                                    <h5>Milie Watson</h5>
                                </div>
                                <div><i class="fa fa-star text-warning mr-2"></i>4.2 / 5</div>
                            </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                            <div class="user-img">
                                <img src="{{path}}assets/images/layouts/layout-16/user4.png" alt="user-img" class="rounded img-fluid avatar-60">
                            </div>                                   
                            <div class="pl-3">
                                <div class="d-flex align-items-center">
                                    <h5>John Williams</h5>
                                </div>
                                <div><i class="fa fa-star text-warning mr-2"></i>4.2 / 5</div>
                            </div>
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-6">
                <div class="card card-block card-stretch card-height">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Income</h4>
                    </div>
                    <div class="card-header-toolbar d-flex align-items-center">
                        <div class="dropdown">
                            <span class="dropdown-toggle dropdown-bg bg-primary rounded p-1" id="dropdownMenuButton1" data-toggle="dropdown">
                            Monthly<i class="ri-arrow-down-s-line ml-1"></i>
                            </span>
                            <div class="dropdown-menu dropdown-menu-right shadow-none" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                            <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="property3-chart-03"></div>
                </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card card-block card-stretch card-height-half">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="icon iq-icon-box bg-primary-light rounded">
                            <i class="fas fa-hand-holding-usd"></i>
                        </div>
                        <div class="media-body ml-3">
                            <h6>Payment Received</h6>
                            <p class="mb-0">05 Hours Ago, Lorem Ipsum 15</p>
                            <a href="#">See Details</a>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card card-block card-stretch card-height-half bg-primary-light">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="icon iq-icon-box bg-primary rounded">
                            <i class="fas fa-question"></i>
                        </div>
                        <div class="media-body ml-3">
                            <h6>New Inquiry</h6>
                            <p class="mb-0 text-body">08 Hours Ago, Lorem Ipsum 15</p>
                            <a href="#">See Details</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card card-block card-stretch card-height-half">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="icon iq-icon-box bg-primary-light rounded">
                            <i class="fas fa-house-damage"></i>
                        </div>
                        <div class="media-body ml-3">
                            <h6>Item Damaged</h6>
                            <p class="mb-0">07 Hours Ago, Lorem Ipsum 15</p>
                            <a href="#">See Details</a>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card card-block card-stretch card-height-half">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="icon iq-icon-box bg-primary-light rounded">
                            <i class="fas fa-copy"></i>
                        </div>
                        <div class="media-body ml-3">
                            <h6>Property Documentation</h6>
                            <p class="mb-0">07 Hours Ago, Lorem Ipsum 15</p>
                            <a href="#">See Details</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="card card-block card-stretch card-height bg-primary-light" style="background: url({{path}}assets/images/layouts/layout-4/welcome-bg.png);background-repeat:no-repeat;
	background-position: center right;background-size: contain;">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="media-body ml-3">
                            <h3>Mega Auction</h3>
                            <h6>20/9/2020</h6>
                            <p class="text-body">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Edit Pretium, A Nam Proin.</p>
                            <div class="group-member d-flex align-items-center mb-2">
                            <div class="iq-media-group mr-3">
                                <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="{{path}}assets/images/user/05.jpg" alt="">
                                </a>
                                <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="{{path}}assets/images/user/06.jpg" alt="">
                                </a>
                                <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="{{path}}assets/images/user/07.jpg" alt="">
                                </a>
                            </div>
                            <p class="mb-0 text-body">35 Members Joining</p>
                            </div>
                            <button class="btn btn-sm btn-primary">More Details</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Recent Property</h4>
                        </div>
                        <div class="card-header-toolbar d-flex align-items-center">
                            <div class="dropdown">
                                <span class="dropdown-toggle text-primary" id="dropdownMenuButton2" data-toggle="dropdown">
                                    <i class="ri-more-2-fill"></i>
                                </span>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton2">
                                    <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                    <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                    <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                    <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0 data-table table-borderless tbl-property-info text-body">
                                <thead>
                                    <tr class="text-dark">
                                        <th>
                                            <div class="checkbox d-inline-block mr-3">
                                                <input type="checkbox" class="checkbox-input">
                                            </div>
                                        </th>
                                        <th scope="col">Photo</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Order Id</th>
                                        <th scope="col">Customer</th>
                                        <th scope="col">Property</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox d-inline-block mr-3">
                                                <input type="checkbox" class="checkbox-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="avatar-70">
                                                <a href="JavaScript:Void(0);">
                                                    <img src="{{path}}assets/images/layouts/layout-16/property-image/01.png" class="img-fluid rounded-small avatar-50" alt="">
                                                </a>
                                            </div>
                                        </td>
                                        <td>20/08/2020</td>
                                        <td>#12345</td>
                                        <td>Fleece</td>
                                        <td>Eaton Street</td>
                                        <td>
                                            <div class="text-primary"><b>On Rent</b></div>
                                        </td>
                                        <td>
                                            <div class="badge badge-success">Paid</div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center list-action">
                                                <a class="badge bg-success-light mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                    href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="badge bg-danger-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                                    href="#"><i class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox d-inline-block mr-3">
                                                <input type="checkbox" class="checkbox-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="avatar-70">
                                                <a href="JavaScript:Void(0);">
                                                    <img src="{{path}}assets/images/layouts/layout-16/property-image/02.png" class="img-fluid rounded-small avatar-50" alt="">
                                                </a>
                                            </div>
                                        </td>
                                        <td>12/07/2020</td>
                                        <td>#76787</td>
                                        <td>Alexender</td>
                                        <td>Lorem Place</td>
                                        <td>
                                            <div class="text-warning"><b>Sold</b></div>
                                        </td>
                                        <td>
                                            <div class="badge badge-success">Paid</div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center list-action">
                                                <a class="badge bg-success-light mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                    href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="badge bg-danger-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                                    href="#"><i class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox d-inline-block mr-3">
                                                <input type="checkbox" class="checkbox-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="avatar-70">
                                                <a href="JavaScript:Void(0);">
                                                    <img src="{{path}}assets/images/layouts/layout-16/property-image/03.png" class="img-fluid rounded-small avatar-50" alt="">
                                                </a>
                                            </div>
                                        </td>
                                        <td>30/08/2020</td>
                                        <td>#34544</td>
                                        <td>Jhon</td>
                                        <td>Prince Court</td>
                                        <td>
                                            <div class="text-primary"><b>On Rent</b></div>
                                        </td>
                                        <td>
                                            <div class="badge badge-danger">Pending</div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center list-action">
                                                <a class="badge bg-success-light mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                    href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="badge bg-danger-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                                    href="#"><i class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="border-0">
                                        <td>
                                            <div class="checkbox d-inline-block mr-3">
                                                <input type="checkbox" class="checkbox-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="avatar-70">
                                                <a href="JavaScript:Void(0);">
                                                    <img src="{{path}}assets/images/layouts/layout-16/property-image/04.png" class="img-fluid rounded-small avatar-50" alt="">
                                                </a>
                                            </div>
                                        </td>
                                        <td>07/07/2020</td>
                                        <td>#23235</td>
                                        <td>Alice</td>
                                        <td>Abrian Hall</td>
                                        <td>
                                            <div class="text-primary"><b>On Rent</b></div>
                                        </td>
                                        <td>
                                            <div class="badge badge-danger">Pending</div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center list-action">
                                                <a class="badge bg-success-light mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                    href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="badge bg-danger-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                                    href="#"><i class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card card-block card-stretch">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar-70">
                            <a href="JavaScript:Void(0);">
                            <img src="{{path}}assets/images/layouts/layout-16/overview-image/01.png" class="img-fluid rounded-small" alt="">
                            </a>
                        </div>                                    
                        <div class="overview-content pl-3">
                            <h5 class="mb-1">Luxurious Villa Sea Facing</h5>
                            <p class="mb-1">05 sep 2020, 12 Days Left</p>
                            <div class="badge badge-warning">SALE</div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card card-block card-stretch">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar-70">
                            <a href="JavaScript:Void(0);">
                            <img src="{{path}}assets/images/layouts/layout-16/overview-image/02.png" class="img-fluid rounded-small" alt="">
                            </a>
                        </div>                                    
                        <div class="overview-content pl-3">
                            <h5 class="mb-1">4BHK Appartment Top Floor</h5>
                            <p class="mb-1">07 jul 2020, 12 Days Left</p>
                            <div class="badge badge-primary">RENT</div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card card-block card-stretch">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar-70">
                            <a href="JavaScript:Void(0);">
                            <img src="{{path}}assets/images/layouts/layout-16/overview-image/03.png" class="img-fluid rounded-small" alt="">
                            </a>
                        </div>                                    
                        <div class="overview-content pl-3">
                            <h5 class="mb-1">Beach Cottage</h5>
                            <p class="mb-1">15 aug 2020, 12 Days Left</p>
                            <div class="badge badge-warning">SALE</div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card card-block card-stretch">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar-70">
                            <a href="JavaScript:Void(0);">
                            <img src="{{path}}assets/images/layouts/layout-16/overview-image/04.png" class="img-fluid rounded-small" alt="">
                            </a>
                        </div>                                    
                        <div class="overview-content pl-3">
                            <h5 class="mb-1">Grand Home - The Villa</h5>
                            <p class="mb-1">09 oct 2020, 12 Days Left</p>
                            <div class="badge badge-warning">SALE</div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{{/content}}
{{/extend}}