
{{#extend 'layouts/backend/layout-3' title="layout-3" active="layout-3"  path="../" }}
{{#content "content"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xl-8">
                <div class="row">
                  <div class="col-md-4">
                      <div class="card">
                          <div class="card-body">
                              <div class="d-flex align-items-center">
                                  <div class="fit-icon rounded text-center bg-warning-light">
                                      <i class="fas fa-user-friends"></i>
                                  </div>
                                  <div class="iq-card-text pl-4">
                                      <h3 class="line-height">1334</h3>
                                      <p class="mb-0">Users</p>
                                      <span class="text-danger"><i class="las la-long-arrow-alt-down"></i>10%</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card">
                          <div class="card-body">
                              <div class="d-flex align-items-center">
                                  <div class="fit-icon rounded text-center bg-info-light">
                                      <i class="fas fa-dumbbell"></i>
                                  </div>
                                  <div class="iq-card-text pl-4">
                                      <h3 class="line-height">202</h3>
                                      <p class="mb-0">Trainers</p>
                                      <span class="text-success"><i class="las la-long-arrow-alt-up"></i>50%</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card">
                          <div class="card-body">
                              <div class="d-flex align-items-center">
                                  <div class="fit-icon rounded text-center bg-success-light">
                                      <i class="fas fa-search-location"></i>
                                  </div>
                                  <div class="iq-card-text pl-4">
                                      <h3 class="line-height">50</h3>
                                      <p class="mb-0">Inquiry</p>
                                      <span class="text-danger"><i class="las la-long-arrow-alt-down"></i>20%</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                    <div class="col-lg-12">
                        <div class="card card-transparent">
                            <div class="card-body p-0">
                                <div id="fit-progress-chart-01"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="card card-block card-stretch card-height">
                    <img src="{{path}}assets/images/layouts/layout-3/user-bg.jpg" class="img-fluid rounded" alt="image">
                    <div class="card-body iq-profile-top pt-0">
                        <div class=" text-center">
                            <div class="d-inline-block">
                                <img src="{{path}}assets/images/layouts/layout-3/user-1.jpg"
                                    class="img-fluid d-inline-block avatar-100 mx-auto rounded" alt="image">
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-between pt-4">
                            <h3 class="col-7">Jimmy Gorge</h3>
                            <div class="col-5 text-right">
                                <p class="mb-0 badge badge-warning">New York, NY</p>
                            </div>
                            <h5 class="col-6 text-secondary">Sr.Trainer</h5>
                            <div class="col-6">
                                <div class="d-flex doc-social float-right">
                                    <a href="#"><i class="lab la-facebook-f text-primary"></i></a>
                                    <a href="#"><i class="lab la-twitter text-primary-dark"></i></a>
                                    <a href="#"><i class="lab la-google-plus text-danger"></i></a>
                                </div>
                            </div>

                        </div>

                        <ul class="list-inline p-0 m-0 mt-4">
                            <li class="d-flex align-items-center justify-content-between mb-3 pb-2 border-bottom">
                                <h6><i class="fas fa-weight text-primary pr-3"></i>Weight</h6>
                                <p class="mb-0">50.2 Kg</p>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-3 pb-2 border-bottom">
                                <h6><i class="fas fa-heartbeat text-danger pr-3"></i>Heart Rate</h6>
                                <p class="mb-0">98.2 Bpm</p>
                            </li>
                            <li class="d-flex align-items-center justify-content-between">
                                <h6><i class="fas fa-user text-success pr-3"></i>Age</h6>
                                <p class="mb-0">25 Yrs</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Trainers</h4>
                        </div>
                        <div class="card-header-toolbar d-flex align-items-center">
                            <span><i class="fas fa-circle text-primary mr-2 font-size-12"></i>Expert Level</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline p-0 m-0">
                            <li class="media align-items-center">
                                <a href="JavaScript:Void(0);"><img src="{{path}}assets/images/layouts/layout-3/user-2.jpg"
                                        class="img-fluid avatar-80 rounded-small" alt="image"></a>
                                <div class="media-body ml-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h5>Julia<span class="text-body pl-2">(personal)</span></h5>
                                        <div class="text-primary"><b>5.8</b></div>
                                    </div>
                                    <p class="mb-0">Fitness</p>
                                    <div class="d-flex doc-social mt-2">
                                        <a href="#"><i class="lab la-facebook-f text-primary"></i></a>
                                        <a href="#"><i class="lab la-twitter text-primary-dark"></i></a>
                                        <a href="#"><i class="lab la-google-plus text-danger"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li class="media align-items-center mt-3">
                                <a href="JavaScript:Void(0);"><img src="{{path}}assets/images/layouts/layout-3/user-3.jpg"
                                        class="img-fluid avatar-80 rounded-small" alt="image"></a>
                                <div class="media-body ml-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h5>Alina<span class="text-body pl-2">(General)</span></h5>
                                        <div class="text-primary"><b>5.6</b></div>
                                    </div>
                                    <p class="mb-0">Aerobics</p>
                                    <div class="d-flex doc-social mt-2">
                                        <a href="#"><i class="lab la-facebook-f text-primary"></i></a>
                                        <a href="#"><i class="lab la-twitter text-primary-dark"></i></a>
                                        <a href="#"><i class="lab la-google-plus text-danger"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li class="media align-items-center mt-3">
                                <a href="JavaScript:Void(0);"><img src="{{path}}assets/images/layouts/layout-3/user-4.jpg"
                                        class="img-fluid avatar-80 rounded-small" alt="image"></a>
                                <div class="media-body ml-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h5>Julia<span class="text-body pl-2">(General)</span></h5>
                                        <div class="text-primary"><b>5.5</b></div>
                                    </div>
                                    <p class="mb-0">Zumba</p>
                                    <div class="d-flex doc-social mt-2">
                                        <a href="#"><i class="lab la-facebook-f text-primary"></i></a>
                                        <a href="#"><i class="lab la-twitter text-primary-dark"></i></a>
                                        <a href="#"><i class="lab la-google-plus text-danger"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body text-center inln-date fitness-datepickr">
                        <input type="text" id="inline-date" class="date-input basicFlatpickr d-none" readonly="readonly">
                        <div class="text-primary text-center mt-3"><span class="font-size-18 pr-2">1 / 9 / 2020</span>Lorem
                            ipsum dolor sit amet</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <i class="fas fa-fire-alt text-warning font-size-40"></i>
                                <h5 class="text-capitalize mt-3">Calories</h5>
                                <h2>1259</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <i class="fas fa-carrot text-warning font-size-40"></i>
                                <h5 class="text-capitalize mt-3">Protiens</h5>
                                <h2>489</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body">
                                <i class="fas fa-cookie-bite text-warning font-size-40"></i>
                                <h5 class="text-capitalize mt-3">Carbs</h5>
                                <h2>459</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card card-block card-stretch card-height bg-warning">
                            <div class="card-body">
                                <i class="fas fa-pizza-slice text-white font-size-40"></i>
                                <h5 class="text-capitalize text-white mt-3">Fat</h5>
                                <h2 class="text-white">259</h2>
                            </div>
                        </div>
                    </div>

                </div>              
            </div>
            <div class="col-lg-6">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">User's Progress</h4>
                        </div>
                        <div class="card-header-toolbar d-flex align-items-center">
                            <div class="dropdown">
                                <span class="dropdown-toggle dropdown-bg border border-primary text-primary p-2 rounded-normal" id="dropdownMenuButton2"
                                    data-toggle="dropdown">
                                    Monthly<i class="ri-arrow-down-s-line ml-1"></i>
                                </span>
                                <div class="dropdown-menu dropdown-menu-right shadow-none"
                                    aria-labelledby="dropdownMenuButton2">
                                    <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                    <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body row align-items-center">
                        <div class="col-md-9">
                            <div id="fit-progress-chart-03"></div>
                        </div>
                        <div class="col-md-3">
                            <ul class="m-0 p-0 list-inline text-center data-indicator">
                                <li class="position-relative">
                                    <h2 class="line-height"><b>84</b></h2>
                                    <span class="status"><i class="ri-checkbox-blank-circle-fill text-primary"></i></span>
                                    <p class="mb-0 mt-2">Your points</p>
                                </li>
                                <li class="mt-3 position-relative">
                                    <h2 class="line-height"><b>64</b></h2>
                                    <span class="status"><i class="ri-checkbox-blank-circle-fill text-danger"></i></span>
                                    <p class="mb-0 mt-2">Average</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Upcoming  Events</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline p-0 m-0">
                            <li class="d-flex align-items-center justify-content-between pb-3 border-bottom">
                                <div class="icon iq-icon-box event-icon bg-primary rounded-small font-size-18">
                                    <div class="date">23</div>
                                    <div class="month">Oct</div>
                                </div>
                                <div class="event-info ml-3">
                                    <h5>Yoga Special Training</h5>
                                    <p class="mb-0">08 : 30 Am</p>
                                </div>
                                <div class="d-flex align-items-center font-size-18">
                                    <span class="mr-2"><i class="ri-edit-box-line"></i></span>
                                    <span><i class="ri-delete-bin-line text-danger"></i></span>
                                </div>
                            </li>
                            <li class="d-flex align-items-center justify-content-between pb-3 pt-3 border-bottom">
                                <div class="icon iq-icon-box event-icon bg-warning rounded-small font-size-18">
                                    <div class="date">25</div>
                                    <div class="month">Oct</div>
                                </div>
                                <div class="event-info ml-3">
                                    <h5>Zumba Training Sessions</h5>
                                    <p class="mb-0">08 : 45 Am</p>
                                </div>
                                <div class="d-flex align-items-center font-size-18">
                                    <span class="mr-2"><i class="ri-edit-box-line"></i></span>
                                    <span><i class="ri-delete-bin-line text-danger"></i></span>
                                </div>
                            </li>
                            <li class="d-flex align-items-center justify-content-between pt-3">
                                <div class="icon iq-icon-box event-icon bg-success rounded-small font-size-18">
                                    <div class="date">28</div>
                                    <div class="month">Oct</div>
                                </div>
                                <div class="event-info ml-3">
                                    <h5>personal Training Happy Week</h5>
                                    <p class="mb-0">09 : 00 Am</p>
                                </div>
                                <div class="d-flex align-items-center font-size-18">
                                    <span class="mr-2"><i class="ri-edit-box-line"></i></span>
                                    <span><i class="ri-delete-bin-line text-danger"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Top Performers</h4>
                        </div>
                        <div class="card-header-toolbar d-flex align-items-center">
                            <a href="#" class="btn btn-sm btn-outline-primary view-more">View More</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline p-0 m-0">
                            <li class="media align-items-center">
                                <a href="JavaScript:Void(0);"><img src="{{path}}assets/images/layouts/layout-3/user-5.jpg"
                                        class="img-fluid avatar-80 rounded-small" alt="image"></a>
                                <div class="media-body ml-4">
                                    <h5>Julia Met</h5>
                                    <p class="mb-0">Fitness</p>
                                    <div class="text-body">23/8/2020</div>
                                </div>
                            </li>
                            <li class="media align-items-center mt-3">
                                <a href="JavaScript:Void(0);"><img src="{{path}}assets/images/layouts/layout-3/user-6.jpg"
                                        class="img-fluid avatar-80 rounded-small" alt="image"></a>
                                <div class="media-body ml-4">
                                    <h5>Carolina Tensen</h5>
                                    <p class="mb-0">Fitness</p>
                                    <div class="text-body">23/8/2020</div>
                                </div>
                            </li>
                            <li class="media align-items-center mt-3">
                                <a href="JavaScript:Void(0);"><img src="{{path}}assets/images/layouts/layout-3/user-7.jpg"
                                        class="img-fluid avatar-80 rounded-small" alt="image"></a>
                                <div class="media-body ml-4">
                                    <h5>Anna Mull</h5>
                                    <p class="mb-0">Fitness</p>
                                    <div class="text-body">23/8/2020</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Social Media</h4>
                        </div>
                        <div class="card-header-toolbar d-flex align-items-center">
                            <a href="#" class="btn btn-sm btn-outline-primary view-more">View More</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="fit-progress-chart-02"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Products</h4>
                        </div>
                        <div class="card-header-toolbar d-flex align-items-center">
                            <a href="#" class="btn btn-sm btn-outline-primary view-more">View More</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline p-0 m-0">
                            <li class="media align-items-center">
                                <a href="JavaScript:Void(0);"><img src="{{path}}assets/images/layouts/layout-3/prod-1.jpg"
                                        class="img-fluid avatar-60 rounded-small" alt="image"></a>
                                <div class="media-body ml-3">
                                    <h5>protein  Pills</h5>
                                    <p class="mb-0">100 Items</p>
                                </div>
                                <p class="mb-0 font-size-18"><b>$ 12.8</b></p>
                            </li>
                            <li class="media align-items-center mt-3">
                                <a href="JavaScript:Void(0);"><img src="{{path}}assets/images/layouts/layout-3/prod-2.jpg"
                                        class="img-fluid avatar-60 rounded-small" alt="image"></a>
                                <div class="media-body ml-3">
                                    <h5>Coffee beans</h5>
                                    <p class="mb-0">92 Items</p>
                                </div>
                                <p class="mb-0 font-size-18"><b>$ 8.6</b></p>
                            </li>
                            <li class="media align-items-center mt-3">
                                <a href="JavaScript:Void(0);"><img src="{{path}}assets/images/layouts/layout-3/prod-3.jpg"
                                        class="img-fluid avatar-60 rounded-small" alt="image"></a>
                                <div class="media-body ml-3">
                                    <h5>Protien Bar</h5>
                                    <p class="mb-0">50 Items</p>
                                </div>
                                <p class="mb-0 font-size-18"><b>$ 15.5</b></p>
                            </li>
                            <li class="media align-items-center mt-3">
                                <a href="JavaScript:Void(0);"><img src="{{path}}assets/images/layouts/layout-3/prod-4.jpg"
                                        class="img-fluid avatar-60 rounded-small" alt="image"></a>
                                <div class="media-body ml-3">
                                    <h5>CBD Oil</h5>
                                    <p class="mb-0">95 Items</p>
                                </div>
                                <p class="mb-0 font-size-18"><b>$ 110</b></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/content}}
{{/extend}}
