
{{#extend 'layouts/backend/layout-2' title="layout-2" active="layout-2" path="../" }}
{{#content "content"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-block card-stretch card-height bg-orange-light orange-background-image" style="background: url({{path}}assets/images/layouts/layout-2/background.jpg) no-repeat scroll right center; background-size: contain;">
                    <div class="card-body property2-content">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="col-lg-6 p-0">
                                <h3 class="text-uppercase mb-2">Find The Best Properties.</h3>
                                <p>We find the best suited properties for you in any city around the world.<br>
                                    Use our mobile app to get all notifications.</p>
                                <div class="iq-search-bar search-book d-flex align-items-center">
                                    <form action="#" class="searchbox">
                                        <input type="text" class="text search-input" placeholder="search here...">
                                    </form>
                                    <button type="submit" class="btn btn-warning search-data ml-2"><i
                                            class="fas fa-angle-right mr-0 font-size-18"></i></button>
                                </div>
                            </div>
                            <div class="col-lg-6 ml-auto p-0">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card card-block card-stretch card-height bg-info-light">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="icon iq-icon-box bg-info rounded">
                                <i class="fas fa-laptop-house"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="mb-0 text-info">130</h3>
                                <h5>Properties</h5>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3 position-relative">
                            <div class="iq-progress-bar bg-white mt-2">
                                <span class="bg-info iq-progress progress-1" data-percent="90">
                                    <span class="progress-text-one bg-info">90%</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card card-block card-stretch card-height bg-warning-light">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="icon iq-icon-box bg-warning rounded">
                                <i class="fas fa-hand-holding-usd"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="mb-0 text-warning">300 M</h3>
                                <h5>Profit</h5>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3 position-relative">
                            <div class="iq-progress-bar bg-white mt-2">
                                <span class="bg-warning iq-progress progress-1" data-percent="70">
                                    <span class="progress-text-one bg-warning">70%</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card card-block card-stretch card-height bg-info-light">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="icon iq-icon-box bg-info rounded">
                                <i class="fab fa-sellsy"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="mb-0 text-info">150</h3>
                                <h5>Seller</h5>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3 position-relative">
                            <div class="iq-progress-bar bg-white mt-2">
                                <span class="bg-info iq-progress progress-1" data-percent="85">
                                    <span class="progress-text-one bg-info">85%</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card card-block card-stretch card-height bg-warning-light">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="icon iq-icon-box bg-warning rounded">
                                <i class="fas fa-money-check"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="mb-0 text-warning">600</h3>
                                <h5>Buyers</h5>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3 position-relative">
                            <div class="iq-progress-bar bg-white mt-2">
                                <span class="bg-warning iq-progress progress-1" data-percent="95">
                                    <span class="progress-text-one bg-warning">95%</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Income</h4>
                        </div>
                        <div class="card-header-toolbar d-flex align-items-center">
                            <div class="dropdown">
                                <span class="dropdown-toggle dropdown-bg bg-info p-1 rounded-small" id="dropdownMenuButton1"
                                    data-toggle="dropdown">
                                    Monthly<i class="ri-arrow-down-s-line ml-1"></i>
                                </span>
                                <div class="dropdown-menu dropdown-menu-right shadow-none"
                                    aria-labelledby="dropdownMenuButton1">
                                    <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                    <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="property2-chart-01"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3 social-icon-with-image">
                            <img src="{{path}}assets/images/layouts/layout-2/user.jpg" class="img-fluid avatar-70 rounded" alt="image">
                            <div class="d-flex doc-social ml-4">
                                <a class="text-info mr-2" href="#"><i class="lab la-facebook-f m-0"></i></a>
                                <a class="text-warning mr-2" href="#"><i class="lab la-twitter m-0"></i></a>
                                <a class="text-success" href="#"><i class="lab la-google-plus m-0"></i></a>
                            </div>
                        </div>
                        <h3 class="">Paul Molive</h3>
                        <p class="font-size-16 mb-3">Agent Of Property</p>
                        <div class="d-flex align-items-center pt-4 border-top">
                            <span class="bg-warning-light rounded-small iq-card-icon-small mr-3">
                                <i class="las la-phone-volume"></i>
                            </span>
                            <h5 class="text-break">+91 01234 56789</h5>
                        </div>
                        <div class="d-flex align-items-center pt-4">
                            <span class="bg-success-light rounded-small iq-card-icon-small mr-3">
                                <i class="las la-envelope"></i>
                            </span>
                            <h5 class="text-break">john@property.com</h5>
                        </div>
                        <div class="d-flex align-items-center pt-4">
                            <span class="bg-primary-light rounded-small iq-card-icon-small mr-3">
                                <i class="lab la-twitter"></i>
                            </span>
                            <h5 class="text-break">social@property.com</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between data-block-center">
                            <div id="property2-chart-02" class="mr-sm-3"></div>
                            <div class="text-data">
                                <h2>$4,020</h2>
                                <p class="mb-0">Avg Buyers</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card iq-progress-block">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between data-block-center">
                            <div class="text-left iq-property-circle mr-sm-3">
                                <div class="progress progress-round mx-auto warning selling">
                                    <span class="progress-left">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                                        <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">46%</div>
                                </div>
                            </div>
                            <div class="text-data">
                                <h2>$8,586</h2>
                                <p class="mb-0">Avg Selling</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between data-block-center">
                            <div id="property2-chart-03" class="mr-sm-3"></div>
                            <div class="text-data">
                                <h2>$4,256</h2>
                                <p class="mb-0">Avg Per Day</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-9">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Recent Property</h4>
                        </div>
                        <div class="card-header-toolbar d-flex align-items-center">
                            <div class="dropdown">
                                <span class="dropdown-toggle text-primary" id="dropdownMenuButton2" data-toggle="dropdown">
                                    <i class="ri-more-2-fill"></i>
                                </span>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton2">
                                    <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                    <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                    <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                    <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0 data-table table-borderless tbl-property-info text-body">
                                <thead>
                                    <tr class="text-dark">
                                        <th>
                                            <div class="checkbox d-inline-block mr-3">
                                                <input type="checkbox" class="checkbox-input">
                                            </div>
                                        </th>
                                        <th scope="col">Photo</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Order Id</th>
                                        <th scope="col">Customer</th>
                                        <th scope="col">Property</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox d-inline-block mr-3">
                                                <input type="checkbox" class="checkbox-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="avatar-70">
                                                <a href="JavaScript:Void(0);">
                                                    <img src="{{path}}assets/images/layouts/layout-2/property-image/06.jpg"
                                                        class="img-fluid rounded-small avatar-50" alt="">
                                                </a>
                                            </div>
                                        </td>
                                        <td>20/08/2020</td>
                                        <td>#12345</td>
                                        <td>Fleece</td>
                                        <td>Eaton Street</td>
                                        <td>
                                            <div class="text-primary"><b>On Rent</b></div>
                                        </td>
                                        <td>
                                            <div class="badge badge-success">Paid</div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center list-action">
                                                <a class="badge bg-success-light mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                    href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="badge bg-danger-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                                    href="#"><i class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox d-inline-block mr-3">
                                                <input type="checkbox" class="checkbox-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="avatar-70">
                                                <a href="JavaScript:Void(0);">
                                                    <img src="{{path}}assets/images/layouts/layout-2/property-image/07.jpg"
                                                        class="img-fluid rounded-small avatar-50" alt="">
                                                </a>
                                            </div>
                                        </td>
                                        <td>12/07/2020</td>
                                        <td>#76787</td>
                                        <td>Alexender</td>
                                        <td>Lorem Place</td>
                                        <td>
                                            <div class="text-warning"><b>Sold</b></div>
                                        </td>
                                        <td>
                                            <div class="badge badge-success">Paid</div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center list-action">
                                                <a class="badge bg-success-light mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                    href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="badge bg-danger-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                                    href="#"><i class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox d-inline-block mr-3">
                                                <input type="checkbox" class="checkbox-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="avatar-70">
                                                <a href="JavaScript:Void(0);">
                                                    <img src="{{path}}assets/images/layouts/layout-2/property-image/08.jpg"
                                                        class="img-fluid rounded-small avatar-50" alt="">
                                                </a>
                                            </div>
                                        </td>
                                        <td>30/08/2020</td>
                                        <td>#34544</td>
                                        <td>Jhon</td>
                                        <td>Prince Court</td>
                                        <td>
                                            <div class="text-primary"><b>On Rent</b></div>
                                        </td>
                                        <td>
                                            <div class="badge badge-danger">Pending</div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center list-action">
                                                <a class="badge bg-success-light mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                    href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="badge bg-danger-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                                    href="#"><i class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="border-0">
                                        <td>
                                            <div class="checkbox d-inline-block mr-3">
                                                <input type="checkbox" class="checkbox-input">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="avatar-70">
                                                <a href="JavaScript:Void(0);">
                                                    <img src="{{path}}assets/images/layouts/layout-2/property-image/10.jpg"
                                                        class="img-fluid rounded-small avatar-50" alt="">
                                                </a>
                                            </div>
                                        </td>
                                        <td>07/07/2020</td>
                                        <td>#23235</td>
                                        <td>Alice</td>
                                        <td>Abrian Hall</td>
                                        <td>
                                            <div class="text-primary"><b>On Rent</b></div>
                                        </td>
                                        <td>
                                            <div class="badge badge-danger">Pending</div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center list-action">
                                                <a class="badge bg-success-light mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                    href="#"><i class="ri-pencil-line"></i></a>
                                                <a class="badge bg-danger-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                                    href="#"><i class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between align-items-center mb-0">
                        <div class="header-title">
                            <h4 class="card-title mb-0">Request Enquiry</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="form-box">
                            <div class="col mb-4 p-0">
                                <input type="text" class="form-control" placeholder="Name *">
                            </div>
                            <div class="col mb-4 p-0">
                                <input type="text" class="form-control" placeholder="Email *">
                            </div>
                            <div class="col mb-4 p-0">
                                <input type="text" class="form-control" placeholder="Phone Number *">
                            </div>
                            <div class="col mb-4 p-0">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    placeholder="Message *"></textarea>
                            </div>
                            <div class="float-right">
                                <button type="submit" class="btn btn-outline-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between align-items-center mb-0">
                        <div class="header-title">
                            <h4 class="card-title mb-0">Property Overview</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="d-flex align-items-center list-inline mb-3 p-0">
                            <li class="d-flex align-items-center mr-4">
                                <span class="bg-warning p-1 rounded mr-2"></span>
                                <p class="text-warning mb-0">Sale</p>
                            </li>
                            <li class="d-flex align-items-center mr-4">
                                <span class="bg-primary p-1 rounded mr-2"></span>
                                <p class="text-primary mb-0">Rent</p>
                            </li>
                        </ul>
                        <ul class="list-inline m-0 p-0">
                            <li class="mb-3">
                                <div class="d-flex align-items-center data-center-xs">
                                    <div class="avatar-70">
                                        <a href="JavaScript:Void(0);">
                                            <img src="{{path}}assets/images/layouts/layout-2/overview-image/01.jpg"
                                                class="img-fluid rounded-small avatar-70" alt="">
                                        </a>
                                    </div>
                                    <div class="overview-content pl-3">
                                        <h5>Luxurious Villa sea facing</h5>
                                        <p class="mb-0">22 sep 2020, 12 Days Left</p>
                                        <div class="badge badge-warning">SALE</div>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-3">
                                <div class="d-flex align-items-center data-center-xs">
                                    <div class="avatar-70">
                                        <a href="JavaScript:Void(0);">
                                            <img src="{{path}}assets/images/layouts/layout-2/overview-image/02.jpg"
                                                class="img-fluid rounded-small avatar-70" alt="">
                                        </a>
                                    </div>
                                    <div class="overview-content pl-3">
                                        <h5>4BHK appartment top floor</h5>
                                        <p class="mb-0">15 sep 2020, 5 Days Left</p>
                                        <div class="badge badge-primary">RENT</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center data-center-xs">
                                    <div class="avatar-70">
                                        <a href="JavaScript:Void(0);">
                                            <img src="{{path}}assets/images/layouts/layout-2/overview-image/03.jpg"
                                                class="img-fluid rounded-small avatar-70" alt="">
                                        </a>
                                    </div>
                                    <div class="overview-content pl-3">
                                        <h5>Beach Cottage</h5>
                                        <p class="mb-0">25 sep 2020, 15 Days Left</p>
                                        <div class="badge badge-warning">SALE</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Property Type</h4>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <div id="property2-chart-04" style="min-height: 300px"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="card card-block card-stretch card-height">
                    <div class="card-header d-flex justify-content-between align-items-center mb-0">
                        <div class="header-title">
                            <h4 class="card-title mb-0">Agent</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline m-0 p-0">
                            <li class="mb-4">
                                <div class="d-flex align-items-center data-center-xs">
                                    <div class="user-img">
                                        <img src="{{path}}assets/images/layouts/layout-2/user2.jpg" alt="user-img"
                                            class="rounded img-fluid avatar-60">
                                    </div>
                                    <div class="pl-3">
                                        <div class="d-flex align-items-center">
                                            <h5>Gayri Williams</h5>
                                            <span class="text-body pl-2">(Sales)</span>
                                        </div>
                                        <div><i class="fa fa-star text-warning mr-2"></i>3.2 / 5</div>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-4">
                                <div class="d-flex align-items-center data-center-xs">
                                    <div class="user-img">
                                        <img src="{{path}}assets/images/layouts/layout-2/user3.jpg" alt="user-img"
                                            class="rounded img-fluid avatar-60">
                                    </div>
                                    <div class="pl-3">
                                        <div class="d-flex align-items-center">
                                            <h5>Alice Mathew</h5>
                                            <span class="text-body pl-2">(Retail)</span>
                                        </div>
                                        <div><i class="fa fa-star text-warning mr-2"></i>4.0 / 5</div>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-4">
                                <div class="d-flex align-items-center data-center-xs">
                                    <div class="user-img">
                                        <img src="{{path}}assets/images/layouts/layout-2/user4.jpg" alt="user-img"
                                            class="rounded img-fluid avatar-60">
                                    </div>
                                    <div class="pl-3">
                                        <div class="d-flex align-items-center">
                                            <h5>Milie Watson</h5>
                                            <span class="text-body pl-2">(Sales)</span>
                                        </div>
                                        <div><i class="fa fa-star text-warning mr-2"></i>4.2 / 5</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center data-center-xs">
                                    <div class="user-img">
                                        <img src="{{path}}assets/images/layouts/layout-2/user5.jpg" alt="user-img"
                                            class="rounded img-fluid avatar-60">
                                    </div>
                                    <div class="pl-3">
                                        <div class="d-flex align-items-center">
                                            <h5>Cliff Hanger</h5>
                                            <span class="text-body pl-2">(Retail)</span>
                                        </div>
                                        <div><i class="fa fa-star text-warning mr-2"></i>3.5 / 5</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/content}}
{{/extend}}
